<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
        <Crown_Vouchers>
            <version>1.3</version>
        </Crown_Vouchers>
    </modules>
	<global>
		<models>
			<vouchers>
				<class>Crown_Vouchers_Model</class>
				<resourceModel>vouchers_mysql</resourceModel>
			</vouchers>
			<vouchers_mysql>
				<class>Crown_Vouchers_Model_Mysql4</class>
				<entities>
					<association>
						<table>catalog_product_one_time_purchase</table>
					</association>
				</entities>
			</vouchers_mysql>
		</models>
		<helpers>
			<vouchers>
				<class>Crown_Vouchers_Helper</class>
			</vouchers>
		</helpers>
		<resources>
			<vouchers_setup>
				<setup>
					<module>Crown_Vouchers</module>
					<class>Crown_Vouchers_Model_Mysql4_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</vouchers_setup>
			<vouchers_write>
				<connection>
					<use>core_write</use>
				</connection>
			</vouchers_write>
			<vouchers_read>
				<connection>
					<use>core_read</use>
				</connection>
			</vouchers_read>
		</resources>
		<events>
			<sales_order_save_after>
				<observers>
					<vouchers>
						<type>model</type>
						<class>vouchers/observer</class>
						<method>saveOneTimePurchase</method>
					</vouchers>
				</observers>
			</sales_order_save_after>
		</events>
		<page>
			<layouts>
				<vouchers translate="label">
					<label>Vouchers</label>
					<template>page/vouchers.phtml</template>
					<layout_handle>vouchers</layout_handle>
				</vouchers>
			</layouts>
		</page>
		<template>
			<email>
				<voucher_code_email_template translate="label" module="vouchers">
					<label>Voucher Notification</label>
					<file>voucher_notification.html</file>
					<type>text</type>
				</voucher_code_email_template>
			</email>
		</template>
	</global>
	<frontend>
		<routers>
			<catalogrequest>
				<use>standard</use>
				<args>
					<module>Crown_Vouchers</module>
					<frontName>vouchers</frontName>
				</args>
			</catalogrequest>
		</routers>
	</frontend>
</config>