<?xml version="1.0"?>
<config>
  <modules>
    <Insparq_Purchaseconfirm>
      <version>0.4</version>
    </Insparq_Purchaseconfirm>
  </modules>
  <frontend>
    <routers>
      <purchaseconfirm>
        <use>standard</use>
        <args>
          <module>Insparq_Purchaseconfirm</module>
          <frontName>purchaseconfirm</frontName>
        </args>
      </purchaseconfirm>
    </routers>
    <layout>
      <updates>
        <purchaseconfirm>
          <file>insparq_purchaseconfirm.xml</file>
        </purchaseconfirm>
      </updates>
    </layout>
  </frontend>
  <default>
    <purchaseconfirm>
      <settings>
        <enabled>1</enabled>
      </settings>
    </purchaseconfirm>
  </default>
  <global>
    <blocks>
      <purchaseconfirm>
        <class>Insparq_Purchaseconfirm_Block</class>
      </purchaseconfirm>
    </blocks>
    <helpers>
      <purchaseconfirm>
        <class>Insparq_Purchaseconfirm_Helper</class>
      </purchaseconfirm>
    </helpers>
    <models>
      <purchaseconfirm>
        <class>Insparq_Purchaseconfirm_Model</class>
      </purchaseconfirm>
    </models>
    <resources>
      <purchaseconfirm_setup>
        <setup>
          <module>Insparq_Purchaseconfirm</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </purchaseconfirm_setup>
      <purchaseconfirm_write>
        <connection>
          <use>core_write</use>
        </connection>
      </purchaseconfirm_write>
      <purchaseconfirm_read>
        <connection>
          <use>core_read</use>
        </connection>
      </purchaseconfirm_read>
    </resources>
  </global>
</config>
