<?xml version="1.0"?>

<config>
    <modules>
        <Totsy_Promotions>
            <version>1.0.1</version>
        </Totsy_Promotions>
    </modules>
    <global>
        <blocks>
            <promotions>
                <class>Totsy_Promotions_Block</class>
            </promotions>
        </blocks>
        <helpers>
            <promotions>
                <class>Totsy_Promotions_Helper</class>
            </promotions>
        </helpers>
        <models>
            <promotions>
                <class>Totsy_Promotions_Model</class>
                <resourceModel>promotions_mysql4</resourceModel>
            </promotions>
            <promotions_mysql4>
                <class>Totsy_Promotions_Model_Mysql4</class>
                <entities>
                    <banner>
                        <table>promotions_banner</table>
                    </banner>
                </entities>
            </promotions_mysql4>
        </models>
        <resources>
            <promotions_setup>
                <setup>
                    <module>Totsy_Promotions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotions_setup>
            <promotions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotions_write>
            <promotions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotions_read>        
        </resources>
    </global>
    <frontend>
        <routers>
            <promotions>
                <use>standard</use>
                <args>
                    <module>Totsy_Promotions</module>
                    <frontName>promotions</frontName>
                </args>
            </promotions>
        </routers>
    </frontend>
    <admin>
        <routers>
            <promotions>
                <use>admin</use>
                <args>
                    <module>Totsy_Promotions</module>
                    <frontName>adminhtml_promotions</frontName>
                </args>
            </promotions>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <promo>
                <children>
                    <promotions translate="title" module="promotions">
                        <title>Banners Carousel</title>
                        <sort_order>500</sort_order>
                        <action>adminhtml_promotions/adminhtml_banner</action>
                    </promotions>
                </children>
            </promo>
        </menu>
    </adminhtml>
</config>
