<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Cybersource>
            <version>0.1.0</version>
        </Totsy_Cybersource>
    </modules>
    <global>
        <models>
            <cybersource>
                <rewrite>
                    <soap>Totsy_Cybersource_Model_Soap</soap>
                </rewrite>
            </cybersource>
        </models>
    </global>
</config>
