<?xml version="1.0"?>
<config>
    <modules>
        <Unirgy_SimpleUp>
            <version>1.0.2</version>
            <usimpleup remote="http://download.unirgy.com/simple/client_api/version/"
                changelog="http://unirgy.com/support/portal/announcements"/>
        </Unirgy_SimpleUp>
    </modules>
   <global>
      <models>
         <usimpleup>
            <class>Unirgy_SimpleUp_Model</class>
            <resourceModel>usimpleup_mysql4</resourceModel>
         </usimpleup>
         <usimpleup_mysql4>
            <class>Unirgy_SimpleUp_Model_Mysql4</class>
            <entities>
               <module>
                  <table>usimpleup_module</table>
               </module>
            </entities>
         </usimpleup_mysql4>
      </models>
      <helpers>
         <usimpleup>
            <class>Unirgy_SimpleUp_Helper</class>
         </usimpleup>
      </helpers>
      <blocks>
         <usimpleup>
            <class>Unirgy_SimpleUp_Block</class>
         </usimpleup>
      </blocks>
      <resources>
         <usimpleup_setup>
            <setup>
               <module>Unirgy_SimpleUp</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </usimpleup_setup>
         <usimpleup_write>
            <connection>
               <use>core_write</use>
            </connection>
         </usimpleup_write>
         <usimpleup_read>
            <connection>
               <use>core_read</use>
            </connection>
         </usimpleup_read>
      </resources>
   </global>
   <adminhtml>
      <layout>
         <updates>
            <usimpleup>
               <file>usimpleup.xml</file>
            </usimpleup>
         </updates>
      </layout>
      <translate>
         <modules>
            <Unirgy_SimpleUp>
               <files>
                  <default>Unirgy_SimpleUp.csv</default>
               </files>
            </Unirgy_SimpleUp>
         </modules>
      </translate>
      <menu>
         <system>
            <children>
               <tools>
                  <children>
                     <usimpleup>
                        <title>Unirgy Installer</title>
                        <sort_order>10</sort_order>
                        <action>usimpleupadmin/adminhtml_module</action>
                     </usimpleup>
                  </children>
               </tools>
            </children>
         </system>
      </menu>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <tools>
                           <children>
                              <usimpleup>
                                 <title>Unirgy Installer</title>
                                 <sort_order>10</sort_order>
                              </usimpleup>
                           </children>
                        </tools>
                        <config>
                           <children>
                              <usimpleup>
                                 <title>Unirgy Installer</title>
                              </usimpleup>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
   </adminhtml>
   <admin>
      <routers>
         <usimpleupadmin>
            <use>admin</use>
            <args>
               <module>Unirgy_SimpleUp</module>
               <frontName>usimpleupadmin</frontName>
            </args>
         </usimpleupadmin>
      </routers>
   </admin>

    <default>
        <usimpleup>
            <general>
                <check_ioncube>0</check_ioncube>
                <dir_perm>755</dir_perm>
                <file_perm>755</file_perm>
            </general>
            <ftp>
                <host>localhost</host>
                <port>21</port>
            </ftp>
        </usimpleup>
    </default>
</config>
