<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_HpCheckout>
            <version>1.0.0</version>
        </Harapartners_HpCheckout>
    </modules>
    <global>
        <blocks>
            <hpcheckout>
                <class>Harapartners_HpCheckout_Block</class>
            </hpcheckout>
        </blocks>
        <models>
            <hpcheckout>
                <class>Harapartners_HpCheckout_Model</class>
            </hpcheckout>
            <!--Moved to Harapartners_Service-->
            <!--checkout>
                <rewrite>
                    <session>Harapartners_HpCheckout_Model_Session</session>
                </rewrite>
            </checkout-->
        </models>
        <helpers>
            <hpcheckout>
                <class>Harapartners_HpCheckout_Helper</class>
            </hpcheckout>
        </helpers>
        <!--rewrite>
            <hpcheckout_checkout>
                <from><![CDATA[#^/checkout/onepage#]]></from>
                <to>/hpcheckout/checkout</to>
            </hpcheckout_checkout>
        </rewrite-->
    </global>
    <frontend>
        <secure_url>
            <hpcheckout_checkout>/hpcheckout/checkout</hpcheckout_checkout>
        </secure_url>
        <routers>
            <hpcheckout>
                <use>standard</use>
                <args>
                    <module>Harapartners_HpCheckout</module>
                    <frontName>hpcheckout</frontName>
                </args>
            </hpcheckout>
        </routers>
        <layout>
            <updates>
                <hpcheckout module="Harapartners_HpCheckout">
                    <file>hpcheckout.xml</file>
                </hpcheckout>
            </updates>
        </layout>
        <events>
            <controller_action_predispatch>
                <observers>
                    <hpcheckout_check_for_split>
                        <class>hpcheckout/observer</class>
                        <method>checkForSplit</method>
                    </hpcheckout_check_for_split>
                </observers>
            </controller_action_predispatch>
        </events>
    </frontend>
    <default/>
</config>