<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Customer
 * @author      Tharsan Bhuvanendran <tbhuvanendran@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Customer>
            <version>0.2.0</version>
        </Totsy_Customer>
    </modules>
    <global>
        <models>
            <totsycustomer_mysql4>
                <class>Totsy_Customer_Model_Mysql4</class>
                <entities>
                    <autoregistration>
                        <table>customer_autoregistration</table>
                    </autoregistration>
                </entities>
            </totsycustomer_mysql4>
            <totsycustomer>
                <class>Totsy_Customer_Model</class>
                <resourceModel>totsycustomer_mysql4</resourceModel>
            </totsycustomer>
        </models>
        <resources>
            <totsycustomer_setup>
                <setup>
                    <module>Totsy_Customer</module>
                    <class>Totsy_Customer_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsycustomer_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <totsycustomer>
                        <type>singleton</type>
                        <class>totsycustomer/observer</class>
                        <method>processAutoregistration</method>
                    </totsycustomer>
                </observers>
            </controller_action_predispatch>
        </events>
    </global>
    <admin>
        <routers>
            <totsy>
                <use>admin</use>
                <args>
                    <module>Totsy_Customer</module>
                    <frontName>totsy</frontName>
                </args>
            </totsy>
        </routers>
    </admin>
</config>
