<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Customer
 * @author      Tharsan Bhuvanendran <tbhuvanendran@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Customer>
            <version>0.1.0</version>
        </Totsy_Customer>
    </modules>
    <global>
        <blocks>
            <customer>
                <rewrite>
                    <address_book>Totsy_Customer_Block_Address_Book</address_book>
                </rewrite>
            </customer>
        </blocks>
        <models>
            <totsycustomer>
                <class>Totsy_Customer_Model</class>
            </totsycustomer>
            <customer>
                <rewrite>
                    <customer>Totsy_Customer_Model_Customer</customer>
                    <group>Totsy_Customer_Model_Group</group>
                    <session>Totsy_Customer_Model_Session</session>
                </rewrite>
            </customer>
        </models>
        <resources>
            <totsycustomer_setup>
                <setup>
                    <module>Totsy_Customer</module>
                    <class>Totsy_Customer_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsycustomer_setup>
        </resources>
        <events>
            <controller_action_predispatch>
                <observers>
                    <totsycustomer_autoreg>
                        <type>singleton</type>
                        <class>totsycustomer/observer</class>
                        <method>autoAuthorization</method>
                    </totsycustomer_autoreg>
                </observers>
            </controller_action_predispatch>
        </events>
        <helpers>
            <customer>
                <rewrite>
                    <data>Totsy_Customer_Helper_Data</data>
                </rewrite>
            </customer>
        </helpers>
    </global>
    <admin>
        <routers>
            <totsy>
                <use>admin</use>
                <args>
                    <module>Totsy_Customer</module>
                    <frontName>totsy</frontName>
                </args>
            </totsy>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <Totsy_Customer/>
            </modules>
            <fixture>
                <totsycustomer_observer>Totsy_Customer_Model_Observer</totsycustomer_observer>
            </fixture>
        </suite>
    </phpunit>
</config>
