<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Customer
 * @author      Tharsan Bhuvanendran <tbhuvanendran@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Customer>
            <version>0.1.0</version>
        </Totsy_Customer>
    </modules>
    <global>
        <models>
            <totsycustomer>
                <class>Totsy_Customer_Model</class>
            </totsycustomer>
        </models>
        <resources>
            <totsycustomer_setup>
                <setup>
                    <module>Totsy_Customer</module>
                    <class>Totsy_Customer_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsycustomer_setup>
        </resources>
        <events>
            <customer_session_init>
                <observers>
                    <totsycustomer_autoreg>
                        <type>singleton</type>
                        <class>totsycustomer/observer</class>
                        <method>autoAuthorization</method>
                    </totsycustomer_autoreg>
                </observers>
            </customer_session_init>
        </events>
    </global>
    <admin>
        <routers>
            <totsy>
                <use>admin</use>
                <args>
                    <module>Totsy_Customer</module>
                    <frontName>totsy</frontName>
                </args>
            </totsy>
        </routers>
    </admin>
    <phpunit>
        <suite>
            <modules>
                <Totsy_Customer/>
            </modules>
            <fixture>
                <totsycustomer_autoregistration>Totsy_Customer_Model_Autoregistration</totsycustomer_autoregistration>
            </fixture>
        </suite>
    </phpunit>
</config>
