<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_Paymentfactory>
            <version>1.0.1</version>
        </Harapartners_Paymentfactory>
    </modules>
    <global>
        <blocks>
            <paymentfactory>
                <class>Harapartners_Paymentfactory_Block</class>
            </paymentfactory>
        </blocks>
        <payment>
            <cc>
                <types>
                    <LASER>
                        <code>LASER</code>
                        <name>Laser</name>
                        <order>51</order>
                    </LASER>
                    <UATP>
                        <code>UATP</code>
                        <name>UATP</name>
                        <order>52</order>
                    </UATP>
                </types>
            </cc>
        </payment>
        <helpers>
            <paymentfactory>
                <class>Harapartners_Paymentfactory_Helper</class>
            </paymentfactory>
        </helpers>
        <models>
            <paymentfactory>
                <class>Harapartners_Paymentfactory_Model</class>
                <resourceModel>paymentfactory_mysql4</resourceModel>
            </paymentfactory>
            <paymentfactory_mysql4>
                <class>Harapartners_Paymentfactory_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>paymentfactory_profile</table>
                    </profile>
                </entities>
            </paymentfactory_mysql4>
            <!--Moved to Harapartners_Service-->
            <!--sales>
                <rewrite>
                    <quote_payment>Harapartners_Paymentfactory_Model_Quote_Payment</quote_payment>
                </rewrite>
                <rewrite>
                    <convert_quote>Harapartners_Paymentfactory_Model_Convert_Quote</convert_quote>
                </rewrite>
            </sales-->
        </models>
        <resources>
            <paymentfactory_setup>
                <setup>
                    <module>Harapartners_Paymentfactory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </paymentfactory_setup>
            <paymentfactory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </paymentfactory_write>
            <paymentfactory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </paymentfactory_read>
        </resources>
    </global>
    <frontend>  
        <routers>  
            <paymentfactory>  
                <use>standard</use>  
                <args>  
                    <module>Harapartners_Paymentfactory</module>  
                    <frontName>paymentfactory</frontName>  
                </args>  
            </paymentfactory>  
        </routers>
        <layout>
            <updates>
                <paymentfactory>
                    <file>paymentfactory.xml</file>
                </paymentfactory>
            </updates>
        </layout>        
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <payment translate="title" module="paymentfactory">
                                            <title>Paymentfactory Tokenize Configuration</title>
                                        </payment>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <payment>
            <paymentfactory_tokenize>
                <payment_action>authorize</payment_action>
                <title>Credit Card (tokenize)</title>
                <order_status>pending</order_status>
                <cctypes>AE,VI,MC</cctypes>
                <model>paymentfactory/tokenize</model>
                <merchant_id backend_model="adminhtml/system_config_backend_encrypted"/>
                <security_key backend_model="adminhtml/system_config_backend_encrypted"/>
            </paymentfactory_tokenize>
        </payment>
    </default>
</config>