<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Tax>
            <version>0.1.0</version>
        </Totsy_Tax>
    </modules>
    <global>
        <models>
            <tax>
                <rewrite>
                    <calculation>Totsy_Tax_Model_Calculation</calculation>
                </rewrite>
            </tax>
        </models>
    </global>
</config>
