<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Adminhtml
 * @author      Tharsan Bhuvanendran <tbhuvanendran@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Adminhtml>
            <version>0.1.2</version>
        </Totsy_Adminhtml>
    </modules>
    <global>
        <blocks>
            <adminhtml>
                <rewrite>
                    <widget_grid_column_renderer_action>Totsy_Adminhtml_Block_Widget_Grid_Column_Renderer_Action</widget_grid_column_renderer_action>
                    <sales_order_edit_billing_method_form>Totsy_Adminhtml_Block_Sales_Order_Edit_Billing_Method_Form</sales_order_edit_billing_method_form>
                    <sales_order_view>Totsy_Adminhtml_Block_Sales_Order_View</sales_order_view>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <adminhtml>
                <rewrite>
                    <sales_order_create>Totsy_Adminhtml_Model_Sales_Order_Create</sales_order_create>
                    <system_config_source_order_status>Totsy_Adminhtml_Model_System_Config_Source_Order_Status</system_config_source_order_status>
                </rewrite>
            </adminhtml>
        </models>
        <resources>
            <totsy_adminhtml_setup>
                <setup>
                    <module>Totsy_Adminhtml</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsy_adminhtml_setup>
            <totsy_adminhtml_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </totsy_adminhtml_write>
            <totsy_adminhtml_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </totsy_adminhtml_read>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Totsy before="Mage_Adminhtml">Totsy_Adminhtml</Totsy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
