<?xml version="1.0"?>
<config>
    <modules>
        <Crown_Import>
            <version>1.0.0</version>
        </Crown_Import>
    </modules>
    <global>
        <models>
            <crownimport>
                <class>Crown_Import_Model</class>
                <resourceModel>crownimport_mysql4</resourceModel>
            </crownimport>
            <urapidflow_mysql4>
            	<rewrite>
            		<catalog_product>Crown_Import_Model_Urapidflow_Mysql4_Catalog_Product</catalog_product>
            	</rewrite>
            </urapidflow_mysql4>
            <crownimport_mysql4>
                <class>Crown_Import_Model_Mysql4</class>
                <entities>
                    <importhistory>
                    	<table>import_history</table>
                    </importhistory>
                </entities>
            </crownimport_mysql4>
        </models>
        <resources>
            <crownimport_setup>
                <setup>
                    <module>Crown_Import</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crownimport_setup>
            <crownimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crownimport_write>
            <crownimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crownimport_read>
        </resources>
        <blocks>
            <crownimport>
                <class>Crown_Import_Block</class>
            </crownimport>
            <adminhtml>
            	<rewrite>
            		<catalog_category_edit_form>Crown_Import_Block_Adminhtml_Catalog_Category_Edit_Form</catalog_category_edit_form>
            	</rewrite>
            </adminhtml>
            <urapidflow>
            	<rewrite>
            		<adminhtml_profile_edit>Crown_Import_Block_Adminhtml_Profile_Edit</adminhtml_profile_edit>
            	</rewrite>
            </urapidflow>
        </blocks>
        <helpers>
            <crownimport>
                <class>Crown_Import_Helper</class>
            </crownimport>
        </helpers>
	<events>
		<urapidflow_product_import_after_diff>
			<observers>
				<dopurchaseordertransactions>
					<type>singleton</type>
					<class>Crown_Import_Model_Observer</class>
					<method>savePurchaseOrderTransaction</method>
				</dopurchaseordertransactions>
			</observers>
		</urapidflow_product_import_after_diff>
		<urapidflow_product_import_after_fetch>
			<observers>
				<dopurchaseordertransactions>
					<type>singleton</type>
					<class>Crown_Import_Model_Observer</class>
					<method>getCurrentProductQtyForDiff</method>
				</dopurchaseordertransactions>
			</observers>
		</urapidflow_product_import_after_fetch>
	</events>
    </global>
    <frontend>
        <routers>
            <crownimport>
                <use>standard</use>
                <args>
                    <module>Crown_Import</module>
                    <frontName>crownimport</frontName>
                </args>
            </crownimport>
        </routers>
        <layout>
            <updates>
                <crownimport>
                    <file>crownimport.xml</file>
                </crownimport>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <crownimport>
                <use>admin</use>
                <args>
                    <module>Crown_Import</module>
                    <frontName>crownimport</frontName>
                </args>
            </crownimport>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <harapartners>
                <children>
                    <importhistory translate="title" module="crownimport">              
                        <title>Import History</title>
                        <sort_order>10</sort_order>
                        <action>crownimport/adminhtml_import</action>
                    </importhistory>
                </children>
            </harapartners>
        </menu>	
        <layout>
            <updates>
                <crownimport>
                    <file>crownimport.xml</file>
                </crownimport>
            </updates>
        </layout>
    </adminhtml>
    <crontab>
		<jobs>
			<crownimport_clean_expired>
				<schedule>
					<cron_expr>0 0 * * *</cron_expr>
					<run>
						<model>crownimport/cron::clearExpiredImports</model>
					</run>
				</schedule>
			</crownimport_clean_expired>
			<crownimport_clean_old_profiles>
				<schedule>
					<cron_expr>0 0 * * *</cron_expr>
					<run>
						<model>crownimport/cron::clearOldProfiles</model>
					</run>
				</schedule>
			</crownimport_clean_old_profiles>
		</jobs>
	</crontab>
	<default>
		<crownimport>
			<urapidflow>
				<invalid_characters>‘ ’ “ ” é — – ÿ</invalid_characters>
			</urapidflow>
		</crownimport>
	</default>
</config>