<?xml version="1.0"?>
<config>
    <modules>
        <Webshopapps_Wsacommon>
            <version>1.0.0</version>
        </Webshopapps_Wsacommon>
    </modules>
    <global>
    	<blocks>
    		<wsacommon>
    			<class>Webshopapps_Wsacommon_Block</class>
    		</wsacommon>
    	   <wsacommon_adminhtml>
                <class>Webshopapps_Wsacommon_Adminhtml_Block</class>
            </wsacommon_adminhtml>
    	</blocks>
        <models>
            <wsacommon>
                <class>Webshopapps_Wsacommon_Model</class>
            </wsacommon>
        </models>
		<helpers>
            <wsacommon>
            	<class>Webshopapps_Wsacommon_Helper</class>
            </wsacommon>
        </helpers> 
        <resources>
            <wsacommon_setup>
                <setup>
                    <module>Webshopapps_Wsacommon</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </wsacommon_setup>
        </resources>
    </global>  		
</config>