<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_Promotionfactory>
            <version>1.2.0</version>
        </Harapartners_Promotionfactory>
    </modules>
    <global>
        <blocks>
            <promotionfactory>
                <class>Harapartners_Promotionfactory_Block</class>
            </promotionfactory>
        </blocks>
        <helpers>
            <promotionfactory>
                <class>Harapartners_Promotionfactory_Helper</class>
            </promotionfactory>
        </helpers>
        <models>
            <promotionfactory>
                <class>Harapartners_Promotionfactory_Model</class>
                <resourceModel>promotionfactory_mysql4</resourceModel>
            </promotionfactory>
            <promotionfactory_mysql4>
                <class>Harapartners_Promotionfactory_Model_Mysql4</class>
                <entities>
                    <emailcoupon>
                        <table>promotionfactory_emailcoupon</table>
                    </emailcoupon>
                    <groupcoupon>
                        <table>promotionfactory_groupcoupon</table>
                    </groupcoupon>
                </entities>
            </promotionfactory_mysql4>
            <!--Moved to Harapartners_Service-->
            <!--salesrule>
                <rewrite>
                    <validator>Harapartners_Promotionfactory_Model_Validator</validator>
                    <quote_discount>Harapartners_Promotionfactory_Model_Discount</quote_discount>
                </rewrite>
            </salesrule-->
        </models>
        <resources>
            <promotionfactory_setup>
                <setup>
                    <module>Harapartners_Promotionfactory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </promotionfactory_setup>
            <promotionfactory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </promotionfactory_write>
            <promotionfactory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </promotionfactory_read>
        </resources>
        <!--events>
            <checkout_cart_product_add_after>
                <observers>
                    <caudalie_observer>
                        <type>singleton</type>
                        <class>checkout/observer</class>
                        <method>apply_cart_rules_after_add</method>
                    </caudalie_observer>
                </observers>
            </checkout_cart_product_add_after>
        </events-->
        <!--sales>
            <quote>
                <totals>
                    <buyxgety>
                        <class>promotionfactory/quote_address_total_subtotal</class>
                        <before>grand_total</before>
                    </buyxgety>
                </totals>
            </quote>
        </sales-->
    </global>
    <frontend>
        <routers>
            <Harapartners_PromotionFactory>
                <use>standard</use>
                <args>
                    <module>Harapartners_Promotionfactory</module>
                    <frontName>promotionfactory</frontName>
                </args>
            </Harapartners_PromotionFactory>
        </routers>
        <layout>
            <updates>
                <promotionfactory>
                    <file>promotionfactory.xml</file>
                </promotionfactory>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <promotionfactory>
                <use>admin</use>
                <args>
                    <module>Harapartners_Promotionfactory</module>
                    <frontName>promotionfactory</frontName>
                </args>
            </promotionfactory>
        </routers>
    </admin>
    <frontend/>
    <adminhtml>
        <layout>
            <updates>
                <promotionfactory>
                    <file>promotionfactory.xml</file>
                </promotionfactory>
            </updates>
        </layout>
        <menu>
            <promo>
                <children>
                    <emailcoupon translate="title" module="promotionfactory">
                        <title>Coupon With Email List</title>
                        <sort_order>200</sort_order>
                        <action>promotionfactory/adminhtml_emailcoupon</action>
                    </emailcoupon>
                    <groupcoupon translate="title" module="promotionfactory">
                        <title>Group Coupon manager</title>
                        <sort_order>300</sort_order>
                        <action>promotionfactory/adminhtml_groupcoupon</action>
                    </groupcoupon>
                </children>
            </promo>
        </menu>
    </adminhtml>
</config>