<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_Rushcheckout>
            <version>1.0.0</version>
        </Harapartners_Rushcheckout>
    </modules>
    <global>
        <blocks>
            <rushcheckout>
				<class>Harapartners_Rushcheckout_Block</class>
            </rushcheckout>
        </blocks>
		<helpers>
            <rushcheckout>
				<class>Harapartners_Rushcheckout_Helper</class>
			</rushcheckout>
        </helpers>
        <models>
			<rushcheckout>
				<class>Harapartners_Rushcheckout_Model</class>
			</rushcheckout>
			<!--Moved to Harapartners_Service-->
			<!--checkout>
				<rewrite>
					<session>Harapartners_Rushcheckout_Model_Session</session>
				</rewrite>
			</checkout-->
        </models>
		<resources>	
        </resources>
    </global>
    <frontend>
        <routers>
            <rushcheckout>
                <use>standard</use>
                <args>
                    <module>Harapartners_Rushcheckout</module>
                    <frontName>rushcheckout</frontName>
                </args>
            </rushcheckout>
        </routers>
		<layout>
			<updates>
				<rushcheckout>
					<file>rushcheckout.xml</file>
				</rushcheckout>
			</updates>
		</layout>
		<!--Moved to Harapartners_Service-->
		<!--events>
			<customer_session_init>
				<observers>
                    <rushcheckout_customer_revalidate>
                        <class>rushcheckout/observer</class>
                        <method>customerRevalidate</method>
                    </rushcheckout_customer_revalidate>
                </observers>
			</customer_session_init>
		</events-->
    </frontend>
	<admin>
        <routers>
            <rushcheckout>
                <use>admin</use>
                <args>
                    <module>Harapartners_Rushcheckout</module>
                    <frontName>rushcheckout</frontName>
                </args>
            </rushcheckout>
        </routers>
    </admin>
	<adminhtml>
        <menu>
            <harapartners>
				<children>
					<rushcheckout translate="title" module="rushcheckout">
		                <title>Rushcheckout Timer</title>
		                <sort_order>500</sort_order>
						<action>rushcheckout/adminhtml_timerconfig</action>
					</rushcheckout>
				</children>
            </harapartners>
        </menu>
    </adminhtml>
	<crontab>
        <jobs>
            <rushcheckout_clean_expired_quotes>
                <schedule>
                    <cron_expr>*/5 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>rushcheckout/observer::cleanExpiredQuotes</model>
                </run>
            </rushcheckout_clean_expired_quotes>
        </jobs>
    </crontab>
</config>