<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Sailthru
 * @author      Slavik Koshelevskiy <skosh@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Sailthru>
            <version>1.0.1</version>
        </Totsy_Sailthru>
    </modules>
    <global>
        <helpers>
            <sailthru>
                <rewrite>
                    <cache>Totsy_Sailthru_Helper_Cache</cache>
                    <feed>Totsy_Sailthru_Helper_Feed</feed>
                </rewrite>
            </sailthru>
        </helpers>
        <models>
            <sailthru>
                <rewrite>
                    <feed>Totsy_Sailthru_Model_Feed</feed>
                    <archive>Totsy_Sailthru_Model_Archive</archive>
                </rewrite>
            </sailthru>
        </models>
    </global>
    <crontab>
        <jobs>
            <totsy_sailthru_archive>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>saithru/archive::process</model>
                </run>
            </totsy_sailthru_archive>
        </jobs>
    </crontab>
</config>
