<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Sailthru
 * @author      Slavik Koshelevskiy <skosh@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Sailthru>
            <version>1.0.3</version>
        </Totsy_Sailthru>
    </modules>
    <global>
        <blocks>
            <sailthru>
                <class>Totsy_Sailthru_Block</class>
            </sailthru>
        </blocks>
        <helpers>
            <sailthru>
                <class>Totsy_Sailthru_Helper</class>
            </sailthru>
        </helpers>
        <models>
            <sailthru>
                <class>Totsy_Sailthru_Model</class>
                <resourceModel>sailthru_mysql4</resourceModel>
            </sailthru>
            <sailthru_mysql4>
                <class>Totsy_Sailthru_Model_Mysql4</class>
                <entities>
                    <feedconfig>
                        <table>sailthru_feedconfig</table>
                    </feedconfig>
                </entities>
            </sailthru_mysql4>
        </models>
        <resources>
            <sailthru_setup>
                <setup>
                    <module>Totsy_Sailthru</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sailthru_setup>
            <sailthru_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sailthru_write>
            <sailthru_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sailthru_read>        
        </resources>
        <events>
            <checkout_cart_update_items_after>
                <observers>
                    <sales_observer>
                        <type>singleton</type>
                        <class>Totsy_Sailthru_Model_Observer</class>
                        <method>updateIncompleteOrder</method>
                    </sales_observer>
                </observers>
            </checkout_cart_update_items_after>
            <checkout_cart_remove_item>
                <observers>
                    <sales_observer>
                        <type>singleton</type>
                        <class>Totsy_Sailthru_Model_Observer</class>
                        <method>removeItemFromIncompleteOrder</method>
                    </sales_observer>
                </observers>
            </checkout_cart_remove_item>
        </events>
    </global>
    <admin>
        <routers>
            <sailthru>
                <use>admin</use>
                <args>
                    <module>Totsy_Sailthru</module>
                    <frontName>sailthru</frontName>
                </args>
            </sailthru>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <harapartners>
                <children>
                    <feedconfig translate="title" module="sailthru">
                        <title>Config Sailthru Feed</title>
                        <sort_order>50</sort_order>
                        <action>sailthru/adminhtml_feedconfig</action>
                    </feedconfig>
                </children>
            </harapartners>
        </menu>
    </adminhtml>
    <crontab>
        <jobs>
            <totsy_sailthru_archive>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>sailthru/archive::process</model>
                </run>
            </totsy_sailthru_archive>
        </jobs>
    </crontab>
</config>
