<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Linkshare>
            <version>1.0.0</version>
        </Totsy_Linkshare>
    </modules>
    <global>
        <helpers>
            <linkshare>
                <class>Totsy_Linkshare_Helper</class>
            </linkshare>
        </helpers>
        <models>
            <linkshare>
                <class>Totsy_Linkshare_Model</class>
                <resourceModel>linkshare_mysql4</resourceModel>
            </linkshare>
            <linkshare_mysql4>
                <class>Totsy_Linkshare_Model_Mysql4</class>
                <entities>
                    <transactions>
                        <table>linkshare_transactions</table>
                    </transactions>
                </entities>
            </linkshare_mysql4>
        </models>
        <resources>
            <linkshare_setup>
                <setup>
                    <module>Totsy_Linkshare</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </linkshare_setup>
            <linkshare_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </linkshare_write>
            <linkshare_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </linkshare_read>        
        </resources>
    </global>
</config>
