<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Catalog
 * @author      Slavik Koshelevskiy <skosh@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
 -->
<config>
    <modules>
        <Totsy_Categoryevent>
            <version>0.1.0</version>
        </Totsy_Categoryevent>
    </modules>
    <global>
        <helpers>
            <categoryevent>
                <rewrite>
                    <sortentry>Totsy_Categoryevent_Helper_Sortentry</sortentry>
                </rewrite>
            </categoryevent>
        </helpers>
    </global>
</config>
