<?xml version="1.0"?>
<config>
  <modules>
    <Insparq_All>
      <version>0.4</version>
    </Insparq_All>
  </modules>
  <global>
    <blocks>
      <insparqall>
        <class>Insparq_All_Block</class>
      </insparqall>
    </blocks>
    <helpers>
      <insparqall>
        <class>Insparq_All_Helper</class>
      </insparqall>
    </helpers>
    <models>
      <insparqall>
        <class>Insparq_All_Model</class>
      </insparqall>
    </models>
    <resources>
      <insparqall_setup>
        <setup>
          <module>Insparq_All</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </insparqall_setup>
      <insparqall_write>
        <connection>
          <use>core_write</use>
        </connection>
      </insparqall_write>
      <insparqall_read>
        <connection>
          <use>core_read</use>
        </connection>
      </insparqall_read>
    </resources>
  </global>
  <adminhtml>
    <acl>
      <resources>
        <all>
          <title>Allow Everything</title>
        </all>
        <admin>
          <children>
            <system>
              <children>
                <config>
                  <children>
                    <insparqall>
                      <title>Insparq - Extensions</title>
                    </insparqall>
                  </children>
                </config>
              </children>
            </system>
          </children>
        </admin>
      </resources>
    </acl>
  </adminhtml>
</config>
