<?xml version="1.0"?>
<config>
  <tabs>
    <insparq translate="label" module="insparqall">
      <label>Insparq</label>
      <sort_order>200</sort_order>
    </insparq>
  </tabs>
  <sections>
    <insparqall translate="label">
      <label>General</label>
      <tab>insparq</tab>
      <frontend_type>text</frontend_type>
      <sort_order>1</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Insparq Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>
            <![CDATA[
            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
              This is a beta version of the INSPARQ Widget for Magento.
            </div>
            ]]>
          </comment>
          <fields>
            <pubid translate="label comment">
              <label>Insparq Publisher Id</label>
              <!-- <comment><![CDATA[]]></comment> -->
              <frontend_type>text</frontend_type>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </pubid>
          </fields>
        </settings>
      </groups>
    </insparqall>
  </sections>
</config>
