<?xml version="1.0"?>
<config>
  <modules>
    <Totsy_Pinterestform>
      <version>0.1.0</version>
    </Totsy_Pinterestform>
  </modules>
  <global>
    <helpers>
      <pinterestform>
        <class>Totsy_Pinterestform_Helper</class>
      </pinterestform>
    </helpers>
  </global>
  
    <frontend>
        <routers>
            <pinterestform>
                <use>standard</use>
                <args>
                    <module>Totsy_Pinterestform</module>
                    <frontName>summerspirit</frontName>
                </args>
            </pinterestform>
        </routers>
        <layout>
            <updates>
                <pinterestform>
                    <file>pinterestform.xml</file>
                </pinterestform>
            </updates>
        </layout>
    </frontend>
</config> 