<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_WebsiteRestriction>
            <version>0.1.0</version>
        </Totsy_WebsiteRestriction>
    </modules>
    <frontend>
        <enterprise>
            <websiterestriction>
                <full_action_names>
                    <generic>
                        <!-- a complete list of full action names that are
                            considered public (exempted from the website
                            restriction rules) -->
                        <affiliate_remote_register/>
                        <affiliate_register_index/>
                        <cms_page_view/>
                        <enterprise_invitation_customer_account_genericcreate/>
                        <inchoo_facebook_customer_account_connect/>
                        <customer_account_resetpassword/>
                        <customer_account_resetpasswordpost/>
                    </generic>
                </full_action_names>
            </websiterestriction>
        </enterprise>
    </frontend>
    <global>
        <models>
            <enterprise_websiterestriction>
                <rewrite>
                    <observer>Totsy_WebsiteRestriction_Model_Observer</observer>
                </rewrite>
            </enterprise_websiterestriction>
        </models>
    </global>
</config>
