<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Fulfillment>
            <version>0.1.0</version>
        </Totsy_Fulfillment>
    </modules>
    <global>
        <helpers>
            <fulfillment>
                <class>Totsy_Fulfillment_Helper</class>
            </fulfillment>
        </helpers>
        <models>
            <fulfillment>
                <class>Totsy_Fulfillment_Model</class>
                <resourceModel>fulfillment_mysql4</resourceModel>
            </fulfillment>
            <fulfillment_mysql4>
                <class>Totsy_Fulfillment_Model_Mysql4</class>
                <entities>
                    <receipt>
                        <table>fulfillment_receipt</table>
                    </receipt>
                </entities>
            </fulfillment_mysql4>
        </models>
        <resources>
            <fulfillment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fulfillment_write>
            <fulfillment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fulfillment_read>
            <fulfillment_setup>
                <setup>
                    <module>Totsy_Fulfillment</module>
                    <class>Totsy_Fulfillment_Model_Resource_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fulfillment_setup>
        </resources>
        <blocks>
            <fulfillment>
                <class>Totsy_Fulfillment_Block</class>
            </fulfillment>
        </blocks>
    </global>
    <phpunit>
        <suite>
            <modules>
                <Totsy_Fulfillment/>
            </modules>
        </suite>
    </phpunit>
</config>
