<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_CatalogInventory>
            <version>0.1.1</version>
        </Totsy_CatalogInventory>
    </modules>
    <global>
        <models>
            <totsy_cataloginventory>
                <class>Totsy_CatalogInventory_Model</class>
            </totsy_cataloginventory>
            <cataloginventory>
                <rewrite>
                    <stock_status>Totsy_CatalogInventory_Model_Stock_Status</stock_status>
                    <stock>Totsy_CatalogInventory_Model_Stock</stock>
                    <stock_item>Totsy_CatalogInventory_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>
        </models>
        <helpers>
            <totsy_cataloginventory>
                <class>Totsy_CatalogInventory_Helper</class>
            </totsy_cataloginventory>
        </helpers>
        <events>
            <cataloginventory_stock_item_save_after>
                <observers>
                    <totsy_cataloginventory_observer>
                        <class>totsy_cataloginventory/observer</class>
                        <method>catalogInventoryStockItemSaveAfter</method>
                    </totsy_cataloginventory_observer>
                </observers>
            </cataloginventory_stock_item_save_after>
        </events>
    </global>
    <frontend>
        <routers>
            <cataloginventory>
                <use>standard</use>
                <args>
                    <module>Totsy_CatalogInventory</module>
                    <frontName>cataloginventory</frontName>
                </args>
            </cataloginventory>
        </routers>
    </frontend>
</config>