<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_CreditCard
 * @author      Tom Royer <troyer@totsy.com>
 * @copyright   Copyright (c) 2013 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_CreditCard>
            <version>0.1.0</version>
        </Totsy_CreditCard>
    </modules>
    <global>
         <models>
            <totsy_creditcard>
                <class>Totsy_CreditCard_Model</class>
            </totsy_creditcard>
            <creditcard>
                <rewrite>
                    <paymentlogic>Totsy_CreditCard_Model_PaymentLogic</paymentlogic>
                </rewrite>
            </creditcard>
        </models>
    </global>
</config>