<?xml version="1.0" encoding="UTF-8"?>

<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->
 
<config>
    <modules>
        <Harapartners_MobileApi>
            <version>1.0.1</version>
        </Harapartners_MobileApi>
    </modules>
    <mobileapi>
        <routers>
            <mobileapi>
                <use>mobileapi</use>
                <args>
                    <module>Harapartners_MobileApi</module>
                    <frontName>mobileapi</frontName>
                </args>
            </mobileapi>
        </routers>
    </mobileapi>
    <frontend>
        <routers>
            <mobileapi>
                <use>standard</use>
                <args>
                    <module>Harapartners_MobileApi</module>
                    <frontName>mobileapi</frontName>
                </args>
            </mobileapi>
        </routers>
    </frontend>
    <global>
        <helpers>
            <mobileapi>
                <class>Harapartners_MobileApi_Helper</class>
            </mobileapi>
        </helpers>
        <blocks>
            <mobileapi>
                <class>Harapartners_MobileApi_Block</class>
            </mobileapi>
        </blocks>
        <models>
            <mobileapi>
                <class>Harapartners_MobileApi_Model</class>
            </mobileapi>
        </models>
    </global>
    <stores>
        <default>
            <web>
                <routers>
                    <mobileapi>
                        <area>mobileapi</area>
                        <class>Harapartners_MobileApi_Controller_MobileRouter</class>
                    </mobileapi>
                </routers>
            </web>
        </default>
    </stores>
</config>