<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 *
 -->
<config>
    <modules>
        <Harapartners_Service>
            <version>1.0.0</version>
        </Harapartners_Service>
    </modules>
    <global>
        <rewrite>
            <!--Important Landing Page Rewrite, Complete! -->
            <landing_page>
                <from><![CDATA[#^/$#]]></from>
                <to><![CDATA[/event/index/index/]]></to>
                <complete>1</complete>
            </landing_page>
            <hpcheckout_checkout>
                <from><![CDATA[#^/checkout/onepage.*#]]></from>
                <to><![CDATA[/hpcheckout/checkout/]]></to>
                <complete>1</complete>
            </hpcheckout_checkout>
        </rewrite>
        <blocks>
            <service>
                <class>Harapartners_Service_Block</class>
            </service>
            <!-- ===== BLOCK REWRITE START ===== -->
            <adminhtml>
                <rewrite>
                    <!--[Note] Moved: Harapartners_Service: widget_form 'datetime' support with Varien_Data_Form_Element_Datetime -->

                    <!--Harapartners_Service: login counter disabled (not editable) in the admin panel -->
                    <customer_edit_tab_account>Harapartners_Service_Block_Rewrite_Adminhtml_Customer_Edit_Tab_Account</customer_edit_tab_account>
                    <!--Harapartners_Service: allow admin harapartner theme -->
                    <page>Harapartners_Service_Block_Rewrite_Adminhtml_Page</page>
                    <!--Harapartners_Service: avoid reporting the complete history (ignore unvalidated historical data) -->
                    <report_refresh_statistics_grid>Harapartners_Service_Block_Rewrite_Adminhtml_Report_Refresh_Statistics_Grid</report_refresh_statistics_grid>
                    <!--Harapartners_Categoryevent -->
                    <catalog_category_edit_form>Harapartners_Service_Block_Rewrite_Adminhtml_Catalog_Category_Edit_Form</catalog_category_edit_form>
                    <!--Harapartners_Service: adding root category is NOT allowed -->
                    <catalog_category_tree>Harapartners_Service_Block_Rewrite_Adminhtml_Catalog_Category_Tree</catalog_category_tree>
                    <!--Harapartners_Service: disable admin setting custoemr password-->
                    <customer_edit_renderer_newpass>Harapartners_Service_Block_Rewrite_Adminhtml_Customer_Edit_Renderer_Newpass</customer_edit_renderer_newpass>
                    <!--Harapartners_Service: sku disabled (not editable) in the admin panel -->
                    <catalog_product_edit_tab_attributes>Harapartners_Service_Block_Rewrite_Adminhtml_Catalog_Product_Edit_Tab_Attributes</catalog_product_edit_tab_attributes>
                    <!-- Totsy: select fields disabled in the admin panel -->
                    <catalog_category_tab_general>Harapartners_Service_Block_Rewrite_Adminhtml_Catalog_Category_Tab_General</catalog_category_tab_general>
					<!--Harapartners_Service: no wishlist for creating new orders -->
                    <sales_order_create_items_grid>Harapartners_Service_Block_Rewrite_Adminhtml_Sales_Order_Create_Items_Grid</sales_order_create_items_grid>
					<!--Harapartners_Promotionfactory: manage coupon button for virtual product-->
					<catalog_product_edit>Harapartners_Service_Block_Rewrite_Adminhtml_Catalog_Product_Edit</catalog_product_edit>
                </rewrite>
            </adminhtml>
            <checkout>
                <rewrite>
                    <!--Harapartners_Hpcheckout-->
                    <links>Harapartners_Service_Block_Rewrite_Checkout_Links</links>
                    <!--Harapartners_SpeedTax-->
                    <onepage_shipping_method_available>Harapartners_Service_Block_Rewrite_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
					<!--Harapartners_Promotionfactory: add reservation code to cart renderer-->
					<!--cart_item_renderer>Harapartners_Service_Block_Rewrite_Checkout_Cart_Item_Renderer</cart_item_renderer-->
                </rewrite>
            </checkout>
            <enterprise_reward>
                <rewrite>
                    <!--Harapartners_For_MANDATORY_Comment-->
                    <adminhtml_customer_edit_tab_reward_management_update>Harapartners_Service_Block_Rewrite_Reward_Adminhtml_Customer_Edit_Tab_Reward_Management_Update</adminhtml_customer_edit_tab_reward_management_update>
                    <customer_account>Harapartners_Service_Block_Rewrite_Reward_Customer_Account</customer_account>
                </rewrite>
            </enterprise_reward>
            <!-- ===== BLOCK REWRITE END ===== -->
        </blocks>
        <helpers>
            <service>
                <class>Harapartners_Service_Helper</class>
            </service>
            <catalog>
                <rewrite>
                    <!--Harapartners_Service: do NOT allow category view if expired!-->
                    <category>Harapartners_Service_Helper_Rewrite_Catalog_Category</category>
                    <!--Harapartners_Service: do NOT allow product view without category!-->
                    <product>Harapartners_Service_Helper_Rewrite_Catalog_Product</product>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <service>
                <class>Harapartners_Service_Model</class>
            </service>
            <!-- ===== MODEL REWRITE START ===== -->
            <catalog>
                <rewrite>
                    <!--Admin panel, Events and Top Events are immutable-->
                    <category>Harapartners_Service_Model_Rewrite_Catalog_Category</category>
                    <!--Harapartners_Import: Important logic to prevent cleaning cache and indexing for each product save.-->
                    <product>Harapartners_Service_Model_Rewrite_Catalog_Product</product>
                    <!--Harapartners_Import: Core logic parsing data -->
                    <convert_adapter_product>Harapartners_Service_Model_Rewrite_Catalog_Convert_Adapter_Product</convert_adapter_product>
					<!--Harapartners_Import: Optimization, no product url rewrite for root category -->
                    <url>Harapartners_Service_Model_Rewrite_Catalog_Url</url>
                </rewrite>
            </catalog>
			<!-- Magento core fix for master/slave DB sync. This fix increases DB load. Disable for now. -->
			<!--catalog_resource>
                <rewrite>
                    <product_flat_indexer>Harapartners_Service_Model_Rewrite_Catalog_Resource_Product_Flat_Indexer</product_flat_indexer>
                </rewrite>
            </catalog_resource-->
            <cataloginventory_resource>
                <rewrite>
                    <!--Harapartners_Rushcheckout: Batch update without saving 'stock_item' object, must sync with status (cart reservation for Totsy)-->
                    <stock>Harapartners_Service_Model_Rewrite_CatalogInventory_Resource_Stock</stock>
                </rewrite>
            </cataloginventory_resource>
            <core>
                <rewrite>
                    <!--Harapartners_EmailFactory-->
                    <email_template>Harapartners_Service_Model_Rewrite_Core_Email_Template</email_template>
                </rewrite>
            </core>
            <index>
                <rewrite>
                    <!--Harapartners_Import: Optimization, ignoring irrelevant indexing processes --><!--Harapartners_Rushcheckout: Freeing stock status for cart reservation-->
                    <indexer>Harapartners_Service_Model_Rewrite_Index_Indexer</indexer>
					<!--Harapartners_Import: Optimization, skip event save to DB-->
					<event>Harapartners_Service_Model_Rewrite_Index_Event</event>
                </rewrite>
            </index>
            <payment>
                <rewrite>
                    <!--Legacy order import-->
                    <method_ccsave>Harapartners_Service_Model_Rewrite_Payment_Method_Ccsave</method_ccsave>
                </rewrite>
            </payment>
            <sales>
                <rewrite>
                    <!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
                    <quote_payment>Harapartners_Service_Model_Rewrite_Sales_Quote_Payment</quote_payment>
                    <!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
                    <convert_quote>Harapartners_Service_Model_Rewrite_Sales_Convert_Quote</convert_quote>
                    <!--Harapartners_SpeedTax-->
                    <quote_address>Harapartners_Service_Model_Rewrite_Sales_Quote_Address</quote_address>
                    <!--Harapartners_SpeedTax-->
                    <quote_address_total_grand>Harapartners_Service_Model_Rewrite_Sales_Quote_Address_Total_Grand</quote_address_total_grand>
					<!--Harapartners_Service, Query optimization, no quote item price update after product import-->
					<observer>Harapartners_Service_Model_Rewrite_Sales_Observer</observer>
					<!--Harapartners_Service, Removing Ogone from order status-->
                    <order_config>Harapartners_Service_Model_Rewrite_Sales_Order_Config</order_config>
					<!--Harapartners_Service, if product does not have an live category/event, it cannot be add to cart (quote)--><!--Harapartners_Promotionfactory, Virtual product (coupons) should always be a separate line item-->
                    <quote>Harapartners_Service_Model_Rewrite_Sales_Quote</quote>
                </rewrite>
            </sales>
            <tax>
                <rewrite>
                    <!--Harapartners_SpeedTax-->
                    <sales_total_quote_tax>Harapartners_Service_Model_Rewrite_Sales_Quote_Address_Total_Tax</sales_total_quote_tax>
                </rewrite>
            </tax>
            <salesrule>
                <rewrite>
                    <!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
                    <validator>Harapartners_Service_Model_Rewrite_Salesrule_Validator</validator>
                    <!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
                    <quote_discount>Harapartners_Service_Model_Rewrite_Salesrule_Quote_Discount</quote_discount>
                </rewrite>
            </salesrule>
            <enterprise_reward>
                <rewrite>
                    <!--Harapartners_Rewrite_Reward_Observer-->
                    <observer>Harapartners_Service_Model_Rewrite_Reward_Observer</observer>
                </rewrite>
            </enterprise_reward>
            <newsletter>
                <rewrite>
                    <!--Harapartners_Rewrite_Newsletter_Subscriber-->
                    <subscriber>Harapartners_Service_Model_Rewrite_Newsletter_Subscriber</subscriber>
                </rewrite>
            </newsletter>
            <!-- ===== MODEL REWRITE END ===== -->
        </models>
        <events>
            <!-- ===== GLOBAL EVENTS START ===== -->
            <controller_front_init_routers>
                <observers>
                    <!--Harapartners_Affiliate-->
                    <affiliate>
                        <type>singleton</type>
                        <class>affiliate/observer</class>
                        <method>addAffiliateRouter</method>
                    </affiliate>
                </observers>
            </controller_front_init_routers>
            <customer_register_success>
                <observers>
                    <!--Harapartners_Customertracking-->
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>customerRegisterSuccess</method>
                    </customertracking>
                </observers>
            </customer_register_success>
            <customer_save_after>
                <observers>
                    <!--Harapartners_EmailFactory-->
                    <sailthru_subscribe_update_data>
                        <type>singleton</type>
                        <class>emailfactory/observer</class>
                        <method>customerupdateObserver</method>
                    </sailthru_subscribe_update_data>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
                    <!--Harapartners_Customertracking-->
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>loginAfter</method>
                    </customertracking>
                </observers>
            </customer_login>
            <customer_logout>
                <observers>
                    <!--Harapartners_Customertracking-->
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>logoutAfter</method>
                    </customertracking>
                </observers>
            </customer_logout>
            <harapartners_import_after>
                <observers>
                    <!--Harapartners_Import-->
                    <import>
                        <type>singleton</type>
                        <class>import/observer</class>
                        <method>processBatch</method>
                    </import>
                </observers>
            </harapartners_import_after>
            <!--http_response_send_before>
                <observers>
                    ///*** Not necesarry now Removed by Andu, Harapartners_Customertracking
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>addPageViewCount</method>
                    </customertracking>
                </observers>
            </http_response_send_before-->
            <newsletter_subscriber_save_after>
                <observers>
                    <!--Harapartners_EmailFactory-->
                    <sailthru_customer_subscribe>
                        <type>singleton</type>
                        <class>emailfactory/observer</class>
                        <method>newsletterupdateObserver</method>
                    </sailthru_customer_subscribe>
                    <!--Harapartners_Unsubcentral-->
                    <unsubcentral_subscribe_observer>
                        <type>singleton</type>
                        <class>unsubcentral/observer</class>
                        <method>unsubscribeCustomerObserver</method>
                    </unsubcentral_subscribe_observer>
                </observers>
            </newsletter_subscriber_save_after>
            <order_cancel_after>
                <observers>
                    <!--Harapartners_Fulfillmentfactory-->
                    <fulfillmentfactory>
                        <type>singleton</type>
                        <class>fulfillmentfactory/observer</class>
                        <method>cancelItemQueue</method>
                    </fulfillmentfactory>
					<!--Harapartners_Promotionfactory-->
                    <promotionfactory>
                        <type>singleton</type>
                        <class>promotionfactory/observer</class>
                        <method>cancelVirtualProductCouponInOrder</method>
                    </promotionfactory>
                </observers>
            </order_cancel_after>
			<sales_quote_item_save_before>
                <observers>
					<!--Harapartners_Promotionfactory: Reserve Virtual Product Coupon-->
                    <promotionfactory>
                        <type>singleton</type>
                        <class>promotionfactory/observer</class>
                        <method>reserveVirtualProductCouponInCart</method>
                    </promotionfactory>
                </observers>
            </sales_quote_item_save_before>
            <sales_quote_item_delete_after>
                <observers>
					<!--Harapartners_Promotionfactory: Deleting quote item will release any related coupon reservation-->
                    <promotionfactory>
                        <class>promotionfactory/observer</class>
                        <method>releaseVirtualProductCouponInCart</method>
                    </promotionfactory>
                </observers>
            </sales_quote_item_delete_after>
			<sales_order_item_save_before>
                <observers>
					<!--Harapartners_Promotionfactory: Use Virtual Product Coupon-->
                    <promotionfactory>
                        <type>singleton</type>
                        <class>promotionfactory/observer</class>
                        <method>purchaseVirtualProductCouponInOrder</method>
                    </promotionfactory>
                </observers>
            </sales_order_item_save_before>
            <sales_order_creditmemo_refund>
                <observers>
                    <!--Harapartners_SpeedTax-->
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </speedtax>
                </observers>
            </sales_order_creditmemo_refund>
            <sales_order_invoice_pay>
                <observers>
                    <!--Harapartners_Recurringmembership-->
                    <!--recurringmembership>
                        <type>singleton</type>
                        <class>recurringmembership/observer</class>
                        <method>saleOrderInvoicePay</method>
                    </recurringmembership-->
                    <!--Harapartners_SpeedTax-->
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>saleOrderInvoicePay</method>
                    </speedtax>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_place_after>
               <observers>
                    <!--Harapartners_Ordersplit-->
                    <ordersplit>
                        <type>singleton</type>
                        <class>ordersplit/observer</class>
                        <method>salesOrderPlaceAfterSplit</method>
                    </ordersplit>
                    <!--Harapartners_Promotionfactory-->
                    <promotionfactory>
                        <type>singleton</type>
                        <class>promotionfactory/observer</class>
                        <method>saleOrderPlaceAfter</method>
                    </promotionfactory>
                    <!--Harapartners_EmailFactory-->
                    <sialthru_success_purchase>
                        <type>singleton</type>
                        <class>emailfactory/observer</class>
                        <method>sailthruSuccessPurchase</method>
                    </sialthru_success_purchase>
                </observers>
            </sales_order_place_after>
            <sales_order_save_after>
                <observers>
                    <!--Harapartners_Fulfillmentfactory-->
                    <fulfillmentfactory>
                        <type>singleton</type>
                        <class>fulfillmentfactory/observer</class>
                        <method>updateItemQueueStatus</method>
                    </fulfillmentfactory>
                </observers>
            </sales_order_save_after>
            <sales_order_item_save_after>
                <observers>
                    <fulfillmentfactory>
                        <type>singleton</type>
                        <class>fulfillmentfactory/observer</class>
                        <method>updateItemQueueAfterItemSave</method>
                    </fulfillmentfactory>
                </observers>
            </sales_order_item_save_after>
        </events>
        <!-- ===== GLOBAL EVENTS END ===== -->
    </global>
    <frontend>
        <events>
            <!-- ===== FRONTEND ONLY EVENTS START ===== -->
            <!-- RSTREET: Removed references to add and remove stock from items in the cart -->
            <!--cataloginventory_stock_item_save_after>
                <observers-->
                    <!--Harapartners_Rushcheckout: Updating only (Addition and deletion can be safely ignored) -->
                    <!--rushcheckout>
                        <class>rushcheckout/observer</class>
                        <method>updateReservationByStockItem</method>
                    </rushcheckout>
                </observers>
            </cataloginventory_stock_item_save_after-->
            <!--sales_quote_item_save_after>
                <observers-->
                    <!--Harapartners_Rushcheckout: Adding or updating quote item -->
                    <!--rushcheckout>
                        <class>rushcheckout/observer</class>
                        <method>updateReservationByQuoteItem</method>
                    </rushcheckout>
                </observers>
            </sales_quote_item_save_after -->
            <sales_quote_item_delete_after>
                <observers>
                    <!--Harapartners_Rushcheckout: Deleting quote item -->
                    <rushcheckout>
                        <class>rushcheckout/observer</class>
                        <method>updateReservationByQuoteItem</method>
                    </rushcheckout>
                </observers>
            </sales_quote_item_delete_after>
            <customer_session_init>
                <observers>
                    <!--Harapartners_Rushcheckout-->
                    <rushcheckout_customer_revalidate>
                        <class>rushcheckout/observer</class>
                        <method>customerRevalidate</method>
                    </rushcheckout_customer_revalidate>
                </observers>
            </customer_session_init>
            <checkout_cart_product_add_after>
                <observers>
                    <!--Harapartners_EmailFactory-->
                    <sialthru_purchasing>
                        <type>singleton</type>
                        <class>emailfactory/observer</class>
                        <method>sailthruPurchasing</method>
                    </sialthru_purchasing>
                </observers>
            </checkout_cart_product_add_after>
            <!-- ===== FRONTEND ONLY EVENTS END ===== -->
        </events>
    </frontend>
    <adminhtml>
        <menu>
            <harapartners translate="title" module="service">
                <title>Extras</title>
                <sort_order>100</sort_order>
            </harapartners>
            <marketing translate="title" module="service">
                <title>Marketing</title>
                <sort_order>50</sort_order>
            </marketing>
        </menu>
        <events>
            <!-- 2012-12-30 CJD - Disabling CatalogRule event from clearing full page cache -->
            <catalogrule_after_apply>
                <observers>
                    <enterprise_pagecache>
                        <type>disabled</type>
                    </enterprise_pagecache>
                </observers>
            </catalogrule_after_apply>
        </events>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin translate="title" module="adminhtml">
					<children>
						<harapartners>
							<title>Extras</title>
							<sort_order>200</sort_order>
							<children>
								<import translate="title" module="import">
									<title>Import Module</title>
									<sort_order>10</sort_order>
								</import>
								<stockhistory translate="title" module="stockhistory">
									<title>Purchase Order Module</title>
									<sort_order>20</sort_order>
									<children>
										<vendor translate="title" module="stockhistory">
											<title>Vendor Report</title>
                                            <children>
                                                    <add translate="title"><title>Add Vendor</title></add>
                                                    <create_po translate="title"><title>Create PO</title></create_po>
                                                    <save translate="title"><title>Save Vendor</title></save>
                                                    <delete translate="title"><title>Delete Vendor</title></delete>
                                            </children>
										</vendor>
										<purchaseorder translate="title" module="stockhistory">
											<title>Purchase Order Report</title>
                                            <children>
                                                <actions translate="title"> 
                                                    <title>Actions</title>
                                                    <children>
                                                        <add translate="title"><title>Add PO</title></add>
                                                        <save translate="title"><title>Save PO</title></save>
                                                        <reset translate="title"><title>Reset PO</title></reset>
                                                        <delete translate="title"><title>Delete PO</title></delete>
                                                        <create_amendment translate="title"><title>Create Amendment(PO Info Edit)</title></create_amendment>
                                                        <submit_dotcom translate="title"><title>Submit To Dotcom</title></submit_dotcom>
                                                        <post_amendment translate="title"><title>Post Amendment(Item Line Edit)</title></post_amendment>
                                                        <editable translate="title"><title>Edit PO Report</title></editable>
                                                    </children>
                                                </actions>
                                            </children>
										</purchaseorder>
										<transaction translate="title" module="stockhistory">
											<title>Transaction Report</title>
										</transaction>
									</children>
								</stockhistory>
								<rushcheckout translate="title" module="rushcheckout">
									<title>Rushcheckout Timer Module</title>
									<sort_order>30</sort_order>
								</rushcheckout>
							</children>
						</harapartners>
                        <catalog>
                            <children>
                                <categories>
                                    <children>
                                        <actions translate="title"> 
                                            <title>Category/Event Edit Actions</title>
                                            <children>
                                                <reset translate="title"><title>Reset</title></reset>
                                                <delete_category translate="title"><title>Delete Categories</title></delete_category>
                                                <delete_product translate="title"><title>Delete Product</title></delete_product>
                                                <import translate="title"><title>Product Import</title></import>
                                                <add_category translate="title"><title>Add Category/Event</title></add_category>
                                                <save translate="title"><title>Save Category/Event</title></save>
                                            </children>
                                        </actions>
                                    </children>
                                </categories>
                                <products>
                                    <children>
                                        <actions translate="title"> 
                                            <title>Product Edit Actions</title>
                                            <children>
                                                <add translate="title"><title>Add Product</title></add>
                                                <reset translate="title"><title>Reset</title></reset>
                                                <delete translate="title"><title>Delete</title></delete>
                                                <manage_coupon translate="title"><title>manage_coupon</title></manage_coupon>
                                                <save translate="title"><title>Save</title></save>
                                            </children>
                                        </actions>
                                    </children>
                                </products>
                            </children>
                        </catalog>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
</config>
