<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->
<config>
    <modules>
        <Harapartners_Service>
            <version>1.0.0</version>
        </Harapartners_Service>
    </modules>
    <global>
		<rewrite>
			<!--Important Landing Page Rewrite, Complete! -->
			<landing_page>
				<from><![CDATA[#^/$#]]></from>
				<to><![CDATA[/event/index/index/]]></to>
				<complete>1</complete>
			</landing_page>
			<hpcheckout_checkout>
				<from><![CDATA[#^/checkout/onepage.*#]]></from>
				<to><![CDATA[/hpcheckout/checkout/]]></to>
				<complete>1</complete>
			</hpcheckout_checkout>
		</rewrite>
		<blocks>
			<service>
				<class>Harapartners_Service_Block</class>
			</service>
			<!-- ===== BLOCK REWRITE START ===== -->
			<adminhtml>
				<rewrite>
					<!--Harapartners_Service: allow admin harapartner theme-->
					<page>Harapartners_Service_Block_Rewrite_Adminhtml_Page</page>
				</rewrite>
			</adminhtml>
			<checkout>
				<rewrite>
					<!--Harapartners_Hpcheckout-->
					<links>Harapartners_Service_Block_Rewrite_Checkout_Links</links>
					<!--Harapartners_SpeedTax-->
					<onepage_shipping_method_available>Harapartners_Service_Block_Rewrite_Checkout_Onepage_Shipping_Method_Available</onepage_shipping_method_available>
				</rewrite>
			</checkout>
			<page>
                <rewrite>
					<!--Harapartners_EmailFactory-->
                    <html_head>Harapartners_Service_Block_Rewrite_Page_Html_Head</html_head>
                </rewrite>
            </page>
			<!-- ===== BLOCK REWRITE END ===== -->
		</blocks>
        <helpers>
            <service>
            	<class>Harapartners_Service_Helper</class>
            </service>
        </helpers>
		<models>
            <service>
                <class>Harapartners_Service_Model</class>
            </service>
			<!-- ===== MODEL REWRITE START ===== -->
			<checkout>
				<rewrite>
					<!--Harapartners_HpCheckout--><!--Harapartners_Rushcheckout-->
					<session>Harapartners_Service_Model_Rewrite_Checkout_Session</session>
					<!--Harapartners_SpeedTax-->
					<type_multishipping>Harapartners_Service_Model_Rewrite_Checkout_Type_Multishipping</type_multishipping>
				</rewrite>
			</checkout>
			<core>
                <rewrite>
					<!--Harapartners_EmailFactory-->
                    <email_template>Harapartners_Service_Model_Rewrite_Core_Email_Template</email_template>
                </rewrite>
            </core>
			<core_resource>
				<rewrite>
					<!--Harapartners_MemcacheDb-->
					<session>Harapartners_Service_Model_Rewrite_Core_Resource_Session</session>
				</rewrite>
			</core_resource>
			<customer>
                <rewrite>
					<!--Harapartners_Customertracking, redirect customer to a different store if customer's email does not match current store but matches a different store-->
					<customer>Harapartners_Service_Model_Rewrite_Customer_Customer</customer>
					<!--Harapartners_Affiliate--><!--Harapartners_Customertracking--><!--Harapartners_Rushcheckout-->
                    <session>Harapartners_Service_Model_Rewrite_Customer_Session</session>
                </rewrite>
            </customer>
			<sales>
				<rewrite>
					<!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
					<quote_payment>Harapartners_Service_Model_Rewrite_Sales_Quote_Payment</quote_payment>
					<!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
					<convert_quote>Harapartners_Service_Model_Rewrite_Sales_Convert_Quote</convert_quote>
					<!--Harapartners_SpeedTax-->
					<quote_address>Harapartners_Service_Model_Rewrite_Sales_Quote_Address</quote_address>
					<!--Harapartners_SpeedTax-->
					<quote_address_total_grand>Harapartners_Service_Model_Rewrite_Sales_Quote_Address_Total_Grand</quote_address_total_grand>
					<!--Harapartners_SpeedTax-->
					<quote_address_total_tax>Harapartners_Service_Model_Rewrite_Sales_Quote_Address_Total_Tax</quote_address_total_tax>
				</rewrite>
			</sales>
			<salesrule>
				<rewrite>
					<!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
					<validator>Harapartners_Service_Model_Rewrite_Salesrule_Validator</validator>
					<!--Harapartners_Ordersplit--><!--Harapartners_Paymentfactory-->
					<quote_discount>Harapartners_Service_Model_Rewrite_Salesrule_Quote_Discount</quote_discount>
				</rewrite>
			</salesrule>
			<!-- ===== MODEL REWRITE END ===== -->
        </models>
		<events>
			<!-- ===== GLOBAL EVENTS START ===== -->
            <controller_front_init_routers>
                <observers>
					<!--Harapartners_Affiliate-->
                    <affiliate>
						<type>singleton</type>
                        <class>affiliate/observer</class>
                        <method>addAffiliateRouter</method>
                    </affiliate>
                </observers>
            </controller_front_init_routers>
            <customer_register_success>
                <observers>
					<!--Harapartners_Customertracking-->
                    <customertracking>
						<type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>customerRegisterSuccess</method>
                    </customertracking>
                </observers>
            </customer_register_success>
			<customer_save_after>
                <observers>
					<!--Harapartners_EmailFactory-->
                    <sailthru_subscribe_update_data>
	                    <type>singleton</type>
                        <class>emailfactory/observer</class>
                        <method>customerupdateObserver</method>
                    </sailthru_subscribe_update_data>
                </observers>
            </customer_save_after>
            <customer_login>
                <observers>
					<!--Harapartners_Customertracking-->
                    <customertracking>
						<type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>loginAfter</method>
                    </customertracking>
                </observers>
            </customer_login>
			<harapartners_import_after>
				<observers>
					<!--Harapartners_Import-->
					<import>
						<type>singleton</type>
						<class>import/observer</class>
						<method>processBatch</method>
					</import>
				</observers>
			</harapartners_import_after>
            <!--http_response_send_before>
                <observers>
					///*** Not necesarry now Removed by Andu, Harapartners_Customertracking
                    <customertracking>
						<type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>addPageViewCount</method>
                    </customertracking>
                </observers>
            </http_response_send_before-->
			<newsletter_subscriber_save_after>
				<observers>
					<!--Harapartners_EmailFactory-->
					<sailthru_customer_subscribe>
						<type>singleton</type>
						<class>emailfactory/observer</class>
						<method>newsletterupdateObserver</method>						
					</sailthru_customer_subscribe>
					<!--Harapartners_Unsubcentral-->
                    <unsubcentral_subscribe_observer>
	                    <type>singleton</type>
                        <class>unsubcentral/observer</class>
                        <method>unsubscribeCustomerObserver</method>
                    </unsubcentral_subscribe_observer>
                </observers>
            </newsletter_subscriber_save_after>
			<order_cancel_after>
				<observers>
					<!--Harapartners_Fulfillmentfactory-->
                    <fulfillmentfactory>
                    	<type>singleton</type>
                    	<class>fulfillmentfactory/observer</class>
                        <method>cancelItemQueue</method>
                    </fulfillmentfactory>
                </observers>
			</order_cancel_after>
			<sales_order_creditmemo_refund>
                <observers>
					<!--Harapartners_SpeedTax-->
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>salesOrderCreditmemoRefund</method>
                    </speedtax>
                </observers>
            </sales_order_creditmemo_refund>
			<sales_order_invoice_pay>
                <observers>
					<!--Harapartners_SpeedTax-->
                    <speedtax>
                        <type>singleton</type>
                        <class>speedtax/observer</class>
                        <method>saleOrderInvoicePlace</method>
                    </speedtax>
                </observers>
            </sales_order_invoice_pay>
			<sales_order_place_after>
               <observers>
					<!--Harapartners_Ordersplit-->
                    <ordersplit>
                        <type>singleton</type>
                        <class>ordersplit/observer</class>
                        <method>salesOrderPlaceAfterSplit</method>
                    </ordersplit>
					<!--Harapartners_Recurringmembership-->
                    <recurringmembership>
                        <type>singleton</type>
                        <class>recurringmembership/observer</class>
                        <method>saleOrderPlaceAfter</method>
                    </recurringmembership>
					<!--Harapartners_EmailFactory-->
					<sialthru_success_purchase>
						<type>singleton</type>
						<class>emailfactory/observer</class>
						<method>sailthruSuccessPurchase</method>
					</sialthru_success_purchase>
                </observers>
            </sales_order_place_after>
			<sales_order_save_after>
				<observers>
					<!--Harapartners_Fulfillmentfactory-->
                    <fulfillmentfactory>
                    	<type>singleton</type>
                    	<class>fulfillmentfactory/observer</class>
                        <method>updateItemQueueStatus</method>
                    </fulfillmentfactory>
                </observers>
			</sales_order_save_after>
        </events>
		<!-- ===== GLOBAL EVENTS END ===== -->
    </global>
	<frontend>
		<events>
			<!-- ===== FRONTEND ONLY EVENTS START ===== -->
			<!--controller_action_predispatch>
				<observers>
					///*** Not necesarry now Removed by Andu, Harapartners_HpCheckout
                    <hpcheckout_controller_rewrite>
                        <class>hpcheckout/observer</class>
                        <method>hpcheckoutControllerRewrite</method>
                    </hpcheckout_controller_rewrite>
                </observers>
			</controller_action_predispatch-->
			<customer_session_init>
				<observers>
					<!--Harapartners_Rushcheckout-->
                    <rushcheckout_customer_revalidate>
                        <class>rushcheckout/observer</class>
                        <method>customerRevalidate</method>
                    </rushcheckout_customer_revalidate>
                </observers>
			</customer_session_init>
			<checkout_cart_product_add_after>
				<observers>
					<!--Harapartners_EmailFactory-->
					<sialthru_purchasing>
						<type>singleton</type>
						<class>emailfactory/observer</class>
						<method>sailthruPurchasing</method>
					</sialthru_purchasing>
                </observers>
			</checkout_cart_product_add_after>
			<!-- ===== FRONTEND ONLY EVENTS END ===== -->
		</events>
    </frontend>
	<adminhtml>
		<menu>
			<harapartners translate="title" module="service">
				<title>Hara Partners</title>
                <sort_order>100</sort_order>
            </harapartners>
        </menu>
    </adminhtml>
</config>
