<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_Recurringmembership>
            <version>1.0.0</version>
        </Harapartners_Recurringmembership>
    </modules>
	<global>
        <blocks>
            <recurringmembership>
				<class>Harapartners_Recurringmembership_Block</class>
            </recurringmembership>
        </blocks>
		<helpers>
            <recurringmembership>
				<class>Harapartners_Recurringmembership_Helper</class>
			</recurringmembership>
        </helpers>
        <models>
            <recurringmembership>
                <class>Harapartners_Recurringmembership_Model</class>
				<resourceModel>recurringmembership_mysql4</resourceModel>
            </recurringmembership>
            <recurringmembership_mysql4>
                <class>Harapartners_Recurringmembership_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>recurringmembership_profile</table>
                    </profile>
                </entities>
            </recurringmembership_mysql4>
        </models>
		<resources>
            <recurringmembership_setup>
                <setup>
                    <module>Harapartners_Recurringmembership</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </recurringmembership_setup>
            <recurringmembership_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </recurringmembership_write>
            <recurringmembership_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </recurringmembership_read>
        </resources>
		<!--Moved to Harapartners_Service-->
		<!--events>
            <sales_order_place_after>
                <observers>
                    <recurringmembership>
                        <type>singleton</type>
                        <class>recurringmembership/observer</class>
                        <method>saleOrderPlaceAfter</method>
                    </recurringmembership>
                </observers>
            </sales_order_place_after>
		</events-->
    </global>
	<frontend>  
        <routers>  
            <recurringmembership>  
                <use>standard</use>  
                <args>  
                    <module>Harapartners_Recurringmembership</module>  
                    <frontName>recurringmembership</frontName>  
                </args>  
            </recurringmembership>  
        </routers> 
		<layout>
			<updates>
				<recurringmembership>
					<file>recurringmembership.xml</file>
				</recurringmembership>
			</updates>
		</layout>		
    </frontend>
</config>