<?xml version="1.0"?>
<config>
	<modules>
		<Crown_Club>
			<version>0.7.4</version>
		</Crown_Club>
	</modules>
    <global>
        <models>
            <crownclub>
                <class>Crown_Club_Model</class>
                <resourceModel>crownclub_resource</resourceModel>
            </crownclub>
            <crownclub_resource>
                <class>Crown_Club_Model_Resource</class>
            </crownclub_resource>
            <sales>
                <rewrite>
                    <quote>Crown_Club_Model_Sales_Quote</quote>
                    <order>Crown_Club_Model_Sales_Order</order>
                    <service_quote>Crown_Club_Model_Sales_Service_Quote</service_quote>
                </rewrite>
            </sales>
            <enterprise_reward>
                <rewrite>
                    <reward>Crown_Club_Model_Rewards_Reward</reward>
                    <observer>Crown_Club_Model_Rewards_Observer</observer>
                </rewrite>
            </enterprise_reward>
        </models>
        <resources>
            <crownclub_setup>
                <setup>
                    <module>Crown_Club</module>
                    <class>Crown_Club_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </crownclub_setup>
            <crownclub_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </crownclub_write>
            <crownclub_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </crownclub_read>
        </resources>
        <helpers>
            <crownclub>
                <class>Crown_Club_Helper</class>
            </crownclub>
        </helpers>
        <template>
            <email>
                <club_expired_email_template translate="label" module="crownclub">
                    <label>Club Expired Notification</label>
                    <file>club_expired_notification.html</file>
                    <type>html</type>
                </club_expired_email_template>
                <club_cancelled_email_template translate="label" module="crownclub">
                    <label>Club Cancelled Notification</label>
                    <file>club_cancelled_notification.html</file>
                    <type>html</type>
                </club_cancelled_email_template>
            </email>
        </template>
        <events>
            <sales_order_save_after>
                <observers>
                    <crownclub_shipment_save_after>
                        <type>singleton</type>
                        <class>Crown_Club_Model_Observer</class>
                        <method>orderShipped</method>
                    </crownclub_shipment_save_after>
                </observers>
            </sales_order_save_after>
            <controller_front_send_response_before>
                <observers>
                    <crownclub_check_url>
                        <type>model</type>
                        <class>crownclub/observer</class>
                        <method>checkPlusMemberDashboardUrl</method>
                    </crownclub_check_url>
                </observers>
            </controller_front_send_response_before>
        </events>
    </global>
	<default>
		<Crown_Club>
			<clubgeneral>
				<grace_period>7</grace_period>
				<nonclub_customer_group>-1</nonclub_customer_group>
				<club_customer_group>-1</club_customer_group>
			</clubgeneral>
            <clubearlyaccess>
                <early_access_time>7200</early_access_time>
                <early_access_count_down_text>Early Access to sale in</early_access_count_down_text>
                <early_access_count_down_text_non_member>Non Totsy Club members access in</early_access_count_down_text_non_member>
                <early_access_sign_up_text>Signup for TotsyPLUS GET ACCESS 2 HOURS EARLY!</early_access_sign_up_text>
                <early_access_to_sale_text>SALE BEGINS IN</early_access_to_sale_text>
                <early_access_in_early_text>You're in early!</early_access_in_early_text>
            </clubearlyaccess>
		</Crown_Club>
		<trans_email>
            <ident_club>
                <email>club@example.com</email>
                <name>Club Notification</name>
            </ident_club>
        </trans_email>
	</default>
    <frontend>
        <routers>
            <crownclub>
                <use>standard</use>
                <args>
                    <module>Crown_Club</module>
                    <frontName>totsyplus</frontName>
                </args>
            </crownclub>
        </routers>
    </frontend>
	<crontab>
		<jobs>
			<club_clean_expired>
				<schedule>
					<cron_expr>0 0 * * *</cron_expr>
					<run>
						<model>crownclub/observer::removeExpiredClubMembers</model>
					</run>
				</schedule>
			</club_clean_expired>
			<club_warn_expired>
				<schedule>
					<cron_expr>0 0 * * *</cron_expr>
					<run>
						<model>crownclub/observer::warnExpiredClubMembers</model>
					</run>
				</schedule>
			</club_warn_expired>
		</jobs>
	</crontab>
</config>
