<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Outofstock>
            <version>0.1.0</version>
        </Totsy_Outofstock>
    </modules>
    <global>
        <models>
            <product>
                <class>Totsy_Outofstock_Model</class>
                <rewrite>
                    <outofstock>Totsy_Outofstock_Model_Product</outofstock>
                </rewrite>
            </product>
        </models>
        <routers>
            <Totsy_Outofstock>
                <use>standard</use>
                <args>
                    <module>Totsy_Outofstock</module>
                    <frontName>Outofstock</frontName>
                </args>
            </Totsy_Outofstock>
        </routers>
    </global>
</config>