<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Outofstock>
            <version>0.1.0</version>
        </Totsy_Outofstock>
    </modules>
    <global>
        <helpers>
            <product>
                <rewrite>
                    <outofstock>Totsy_Outofstock_Helper_Product</outofstock>
                </rewrite>
            </product>
        </helpers>
        <events>
            <checkout_submit_all_after>
                    <observers>
                        <outofstock_observer>
                            <class>Totsy_Outofstock_Model_Observer</class>
                            <method>catalogProductUpdate</method>
                        </outofstock_observer>
                    </observers>
            </checkout_submit_all_after>
        </events>
    </global>
</config>