<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Catalog
 * @author      Tom Royer <troyer@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
 -->
<config>
    <modules>
        <Totsy_Catalog>
            <version>0.1.4</version>
        </Totsy_Catalog>
    </modules>
    <global>
        <blocks>
            <totsy_catalog>
                <class>Totsy_Catalog_Block</class>
            </totsy_catalog>
        </blocks>
        <helpers>
            <totsy_catalog>
                <class>Totsy_Catalog_Helper</class>
            </totsy_catalog>
            <catalog>
                <rewrite>
                    <event>Totsy_Catalog_Helper_Event</event>
                </rewrite>
            </catalog>
        </helpers>
        <models>
            <totsy_catalog>
                <class>Totsy_Catalog_Model</class>
            </totsy_catalog>
            <catalog>
                <rewrite>
                    <product_attribute_source_tax>Totsy_Catalog_Model_Product_Attribute_Source_Tax</product_attribute_source_tax>
                    <!-- <product_type_configurable>Totsy_Catalog_Model_Product_Type_Configurable</product_type_configurable> -->
                </rewrite>
            </catalog>
        </models>
        <resources>
            <totsycatalog_setup>
                <setup>
                    <module>Totsy_Catalog</module>
                    <class>Totsy_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsycatalog_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <catalog>
                <use>admin</use>
                <args>
                    <module>Totsy_Catalog</module>
                    <frontName>adminhtml_product_purchase_limit</frontName>
                </args>
            </catalog>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <harapartners>
                <children>
                    <totsy_catalog_product_purchase_limit translate="title" module="totsy_catalog">
                        <title>Product Purchase Limit Import</title>
                        <sort_order>300</sort_order>
                        <action>catalog/adminhtml_product_purchase_limit</action>
                    </totsy_catalog_product_purchase_limit>
                </children>
            </harapartners>
        </menu>
    </adminhtml>
</config>
