<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Catalog
 * @author      Tom Royer <troyer@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
 -->
<config>
    <modules>
        <Totsy_Catalog>
            <version>0.1.0</version>
        </Totsy_Catalog>
    </modules>
    <global>
        <helpers>
            <catalog>
            
                <rewrite>
                    <event>Totsy_Catalog_Helper_Event</event>
                </rewrite>
            </catalog>
        </helpers>
        <resources>
            <totsycatalog_setup>
                <setup>
                    <module>Totsy_Catalog</module>
                    <class>Totsy_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsycatalog_setup>
        </resources>
    </global>
</config>
