<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->
<config>
    <modules>
        <Harapartners_Customertracking>
            <version>1.0.2</version>
        </Harapartners_Customertracking>
    </modules>
    <global>
        <blocks>
            <customertracking>
                <class>Harapartners_Customertracking_Block</class>
            </customertracking>
        </blocks>
        <helpers>
            <customertracking>
                <class>Harapartners_Customertracking_Helper</class>
            </customertracking>
        </helpers>
        <models>
            <customertracking>
                <class>Harapartners_Customertracking_Model</class>
                <resourceModel>customertracking_mysql4</resourceModel>
            </customertracking>
            <customertracking_mysql4>
                <class>Harapartners_Customertracking_Model_Mysql4</class>
                <entities>
                    <record>
                        <table>customertracking_record</table>
                    </record>
                </entities>
            </customertracking_mysql4>
        </models>
        <resources>
            <customertracking_setup>
                <setup>
                    <module>Harapartners_Customertracking</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </customertracking_setup>
            <customertracking_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </customertracking_write>
            <customertracking_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </customertracking_read>        
        </resources>
        <!--Moved to Harapartners_Service-->
        <!--events>
            <customer_register_success>
                <observers>
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>addCustomer</method>
                    </customertracking>
                </observers>
            </customer_register_success>
            <customer_login>
                <observers>
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>addLoginCount</method>
                    </customertracking>
                </observers>
            </customer_login>
            <http_response_send_before>
                <observers>
                    <customertracking>
                        <type>singleton</type>
                        <class>customertracking/observer</class>
                        <method>addPageViewCount</method>
                    </customertracking>
                </observers>
            </http_response_send_before>
        </events-->        
    </global>
    <frontend>
        <routers>
            <customertracking>
                <use>standard</use>
                <args>
                    <module>Harapartners_Customertracking</module>
                    <frontName>customertracking</frontName>
                </args>
            </customertracking>
        </routers>
        <layout>
            <updates>
                <customertracking>
                    <file>customertracking.xml</file>
                </customertracking>
            </updates>
        </layout>
        <!--cache>
            <requests>
                <customer>
                    <account>
                        <create>enterprise_pagecache/processor_default</create>
                        <forgotpassword>enterprise_pagecache/processor_default</forgotpassword>
                        <login>enterprise_pagecache/processor_default</login>
                    </account>
                </customer>
            </requests>
        </cache-->
    </frontend>
    <admin>
        <routers>
            <customertracking>
                <use>admin</use>
                <args>
                    <module>Harapartners_Customertracking</module>
                    <frontName>adminhtml_customertracking</frontName>
                </args>
            </customertracking>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <marketing>
                <children>
                    <customertracking translate="title" module="customertracking">
                        <title>Affiliate Customer Tracking</title>
                        <sort_order>20</sort_order>
                        <action>adminhtml_customertracking/adminhtml_record</action>
                    </customertracking>
                </children>
            </marketing>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <marketing>
                            <children>
                                <customertracking translate="title" module="customertracking">
                                    <title>Affiliate Customer Tracking</title>
                                    <sort_order>20</sort_order>
                                </customertracking>
                            </children>
                        </marketing>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
