<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Checkout>
            <version>0.1.0</version>
        </Totsy_Checkout>
    </modules>
    <frontend>
        <routers>
            <checkout>
                <args>
                    <modules>
                        <Totsy_Checkout before="Mage_Checkout">Totsy_Checkout</Totsy_Checkout>
                    </modules>
                </args>
            </checkout>
        </routers>
    </frontend>
    <global>
        <models>
            <checkout>
                <rewrite>
                    <session>Totsy_Checkout_Model_Session</session>
                    <type_multishipping>Totsy_Checkout_Model_Type_Multishipping</type_multishipping>
                </rewrite>
            </checkout>
        </models>
    </global>
</config>
