<?xml version="1.0"?>
<!--
/**
 * @author      Branko Ajzele, ajzele@gmail.com
 * @category    Inchoo
 * @package     Inchoo_Api
 * @copyright   Copyright (c) Inchoo LLC (http://inchoo.net)
 * @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <Inchoo_Api>
            <version>1.1.1.0</version>
        </Inchoo_Api>
    </modules>
    <global>
        <models>
            <inchoo_api>
                <class>Inchoo_Api_Model</class>
            </inchoo_api>
			<!-- HP Song Start-->
			<customer>
				<rewrite>
					<customer_api>Inchoo_Api_Model_Customer_Customer_Api</customer_api>
					<address_api>Inchoo_Api_Model_Customer_Address_Api</address_api>
				</rewrite>
			</customer>
			<catalog>
				<rewrite>
					<product_api>Inchoo_Api_Model_Catalog_Product_Api</product_api>
					<category_api>Inchoo_Api_Model_Catalog_Event_Api</category_api>
				</rewrite>
			</catalog>
			<checkout>
				<rewrite>
					<cart_api>Inchoo_Api_Model_Checkout_Cart_Api</cart_api>
				</rewrite>
			</checkout>
			<!-- HP Song End-->
        </models>
        <helpers>
            <inchoo_api>
                <class>Inchoo_Api_Helper</class>
            </inchoo_api>
        </helpers>
    </global>
    <frontend>
        <routers>
            <inchoo_api>
                <use>standard</use>
                <args>
                    <module>Inchoo_Api</module>
                    <frontName>inchoo-api</frontName>
                </args>
            </inchoo_api>		
            
            <!--            
                Here we add rewrite of the default Mage_Api router. 
                However, we will not change or extend any of the existing API service controllers, 
                we merely want our REST/JSON API to be available under the sub-url 
                of http://{my_store}/index.php/api/ for more nicer look & feel. 

                With that in mind, we will use InchooController with rest/json actions 
                so we can access them like http://{my_store}/index.php/api/inchoo/rest 
                and http://{my_store}/index.php/api/inchoo/json. 

                This way we are safe if in the future Magento itself adds REST/JSON API, 
                so we do not override it with our code.
            -->
            
            <api>
                <args>
                    <modules>
                        <Inchoo_Api before="Mage_Api">Inchoo_Api</Inchoo_Api>
                    </modules>
                </args>
            </api>            
            
        </routers>       
    </frontend>
</config>
