<?xml version="1.0"?>
<config>
    <modules>
        <Unirgy_SimpleLicense>
            <version>1.0.2</version>
            <usimpleup remote="http://download.unirgy.com/simple/client_api/version/"
                changelog="http://unirgy.com/support/portal/announcements"/>
        </Unirgy_SimpleLicense>
    </modules>

   <global>
      <models>
         <usimplelic>
            <class>Unirgy_SimpleLicense_Model</class>
            <resourceModel>usimplelic_mysql4</resourceModel>
         </usimplelic>
         <usimplelic_mysql4>
            <class>Unirgy_SimpleLicense_Model_Mysql4</class>
            <entities>
               <license>
                  <table>usimplelic_license</table>
               </license>
            </entities>
         </usimplelic_mysql4>
      </models>
      <helpers>
         <usimplelic>
            <class>Unirgy_SimpleLicense_Helper</class>
         </usimplelic>
      </helpers>
      <blocks>
         <usimplelic>
            <class>Unirgy_SimpleLicense_Block</class>
         </usimplelic>
      </blocks>
      <resources>
         <usimplelic_setup>
            <setup>
               <module>Unirgy_SimpleLicense</module>
            </setup>
            <connection>
               <use>core_setup</use>
            </connection>
         </usimplelic_setup>
         <usimplelic_write>
            <connection>
               <use>core_write</use>
            </connection>
         </usimplelic_write>
         <usimplelic_read>
            <connection>
               <use>core_read</use>
            </connection>
         </usimplelic_read>
      </resources>
   </global>
   <adminhtml>
      <layout>
         <updates>
            <usimplelic>
               <file>usimplelic.xml</file>
            </usimplelic>
         </updates>
      </layout>
      <translate>
         <modules>
            <Unirgy_SimpleLicense>
               <files>
                  <default>Unirgy_SimpleLicense.csv</default>
               </files>
            </Unirgy_SimpleLicense>
         </modules>
      </translate>
      <events>
         <usimpleup_license_tabs>
            <observers>
               <usimplelic>
                  <type>singleton</type>
                  <model>usimplelic/observer</model>
                  <method>usimpleup_license_tabs</method>
               </usimplelic>
            </observers>
         </usimpleup_license_tabs>
      </events>
      <acl>
         <resources>
            <admin>
               <children>
                  <system>
                     <children>
                        <config>
                           <children>
                              <usimpleup>
                                 <children>
                                    <licenses>
                                       <title>Simple License</title>
                                    </licenses>
                                 </children>
                              </usimpleup>
                           </children>
                        </config>
                     </children>
                  </system>
               </children>
            </admin>
         </resources>
      </acl>
   </adminhtml>
   <admin>
      <routers>
         <usimplelicadmin>
            <use>admin</use>
            <args>
               <module>Unirgy_SimpleLicense</module>
               <frontName>usimplelicadmin</frontName>
            </args>
         </usimplelicadmin>
      </routers>
   </admin>
</config>
