<?xml version="1.0"?>
<config>
  <modules>
    <Insparq_Product>
      <version>0.4</version>
    </Insparq_Product>
  </modules>
  <frontend>
    <routers>
      <product>
        <use>standard</use>
        <args>
          <module>Insparq_Product</module>
          <frontName>product</frontName>
        </args>
      </product>
    </routers>
    <layout>
      <updates>
        <product>
          <file>insparq_product.xml</file>
        </product>
      </updates>
    </layout>
  </frontend>
  <default>
    <product>
      <settings>
        <enabled>1</enabled>
        <automaticplacement>1</automaticplacement>
      </settings>
      <embeds>
        <ogtags>1</ogtags>
        <richsnippet>1</richsnippet>
      </embeds>
    </product>
  </default>
  <global>
    <blocks>
      <product>
        <class>Insparq_Product_Block</class>
      </product>
    </blocks>
    <helpers>
      <product>
        <class>Insparq_Product_Helper</class>
      </product>
    </helpers>
    <models>
      <product>
        <class>Insparq_Product_Model</class>
      </product>
    </models>
    <resources>
      <product_setup>
        <setup>
          <module>Insparq_Product</module>
        </setup>
        <connection>
          <use>core_setup</use>
        </connection>
      </product_setup>
      <product_write>
        <connection>
          <use>core_write</use>
        </connection>
      </product_write>
      <product_read>
        <connection>
          <use>core_read</use>
        </connection>
      </product_read>
    </resources>
  </global>
</config>
