<?xml version="1.0"?>
<config>
  <sections>
    <product translate="label">
      <label>Product Sharing Widget</label>
      <tab>insparq</tab>
      <frontend_type>text</frontend_type>
      <sort_order>100</sort_order>
      <show_in_default>1</show_in_default>
      <show_in_website>1</show_in_website>
      <show_in_store>1</show_in_store>
      <groups>
        <settings translate="label">
          <label>Widget Settings</label>
          <frontend_type>text</frontend_type>
          <sort_order>100</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <comment>
            <![CDATA[
            <div style="padding:10px;background-color:#fff;border:1px solid #ddd;margin-bottom:7px;">
               This is a beta version of the INSPARQ Widget for Magento.
            </div>
            ]]>
          </comment>
          <fields>
            <enabled translate="label comment">
              <label>Show Product Sharing Widget</label>
              <comment><![CDATA[Allows visitors to your site to share your products to their friends.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </enabled>
            <automaticplacement translate="label comment">
              <label>Automatically Place Widget</label>
              <comment><![CDATA[Let Insparq place the widget in your template.<br/><strong>NOTE:</strong> Custom Templates may not properly show the widget if
                enabled.<br/><strong>NOTE:</strong> To customise the placement of your sharing widget, please review our <a href="http://magento.insparq.com">Customized Magento Widget document</a>.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </automaticplacement>
          </fields>
        </settings>
        <embeds translate="label">
          <label>Extensible Data</label>
          <frontend_type>text</frontend_type>
          <sort_order>200</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <ogtags translate="label comment">
              <label>Embed Open Graph Tags</label>
              <comment><![CDATA[Allows for proper sharing of products in Facebook.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </ogtags>
            <richsnippets translate="label comment">
              <label>Embed Rich Snippets</label>
              <comment><![CDATA[Exposes extended product information to Google, Bing, and other search engines.]]></comment>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_enabledisable</source_model>
              <sort_order>2</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </richsnippets>
          </fields>
        </embeds>
      </groups>
    </product>
  </sections>
</config>
