<?xml version="1.0"?>
<config>
    <modules>
        <Crown_CatalogInventory>
            <version>1.0</version>
        </Crown_CatalogInventory>
    </modules>
    <global>
        <models>
            <cataloginventory>
                <rewrite>
                    <stock_item>Crown_CatalogInventory_Model_Stock_Item</stock_item>
                </rewrite>
            </cataloginventory>

        </models>
    </global>
</config>