<?xml version="1.0"?>
<config>
    <modules>
        <Harapartners_Inviteeorder>
            <version>1.0.0</version>
        </Harapartners_Inviteeorder>
    </modules>
    <global>
        <models>
            <inviteeorder>
                <class>Harapartners_Inviteeorder_Model</class>
            </inviteeorder>
        </models>
		<resources>
            <inviteeorder_setup>
                <setup>
                    <module>Harapartners_Inviteeorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inviteeorder_setup>
            <inviteeorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inviteeorder_write>
            <inviteeorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inviteeorder_read>        
        </resources>
		<events>
			<sales_order_invoice_pay>
                <observers>
                    <inviteeorder>
                        <class>inviteeorder/observer</class>
                        <method>inviteeFirstOrder</method>
                    </inviteeorder>
                </observers>
            </sales_order_invoice_pay>
		</events>
    </global>
</config>
