<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Paypal>
            <version>0.0.1</version>
        </Totsy_Paypal>
    </modules>
    <global>
        <models>
            <paypal>
                <rewrite>
                    <express>Totsy_Paypal_Model_Express</express>
                </rewrite>
            </paypal>
        </models>
    </global>
</config>