<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_CatalogFeed>
            <version>0.1.0</version>
        </Totsy_CatalogFeed>
    </modules>
    <global>
        <models>
            <catalogfeed>
                <class>Totsy_CatalogFeed_Model</class>
            </catalogfeed>
        </models>
    </global>
    <frontend>
        <routers>
            <catalogfeed>
                <use>standard</use>
                <args>
                    <module>Totsy_CatalogFeed</module>
                    <frontName>catalogfeed</frontName>
                </args>
            </catalogfeed>
        </routers>
    </frontend>
    <crontab>
        <jobs>
            <totsy_catalogfeed_insparq_submit>
                <schedule>
                    <cron_expr>0 0,12 * * *</cron_expr>
                </schedule>
                <run>
                    <model>catalogfeed/observer::insparqSubmit</model>
                </run>
            </totsy_catalogfeed_insparq_submit>
        </jobs>
    </crontab>
    <default>
        <catalogfeed>
            <repository>
                <insparq>
                    <credentials>
                        <key>AKIAJOS5NOK3HWI5NLAQ</key>
                        <secret>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</secret>
                    </credentials>
                    <bucket>
                        <name>insparq-pinboard-3</name>
                    </bucket>
                </insparq>
            </repository>
        </catalogfeed>
    </default>
</config>
