<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Api>
            <version>0.1.0</version>
        </Totsy_Api>
    </modules>
    <global>
        <blocks>
            <totsyapi>
                <class>Totsy_Api_Block</class>
            </totsyapi>
        </blocks>
        <helpers>
            <totsyapi>
                <class>Totsy_Api_Helper</class>
            </totsyapi>
        </helpers>
        <models>
            <totsyapi>
                <class>Totsy_Api_Model</class>
                <resourceModel>totsyapi_mysql4</resourceModel>
            </totsyapi>
            <totsyapi_mysql4>
                <class>Totsy_Api_Model_Mysql4</class>
                <entities>
                    <client>
                        <table>totsyapi_client</table>
                    </client>
                </entities>
            </totsyapi_mysql4>
        </models>
        <resources>
            <totsyapi_setup>
                <setup>
                    <module>Totsy_Api</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsyapi_setup>
            <totsyapi_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </totsyapi_write>
            <totsyapi_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </totsyapi_read>
        </resources>
    </global>
    <admin>
        <routers>
            <totsyapi>
                <use>admin</use>
                <args>
                    <module>Totsy_Api</module>
                    <frontName>adminhtml_totsyapi</frontName>
                </args>
            </totsyapi>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <system>
                <children>
                    <totsyapi translate="title" module="totsyapi">
                        <title>Totsy REST API Clients</title>
                        <sort_order>1000</sort_order>
                        <action>totsyapi/adminhtml_client</action>
                    </totsyapi>
                </children>
            </system>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <totsyapi translate="title" module="totsyapi">
                                    <title>Totsy REST API Clients</title>
                                    <sort_order>10</sort_order>
                                </totsyapi>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
