<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->
<config>
    <modules>
        <Harapartners_Fulfillmentfactory>
            <version>1.0.2</version>
        </Harapartners_Fulfillmentfactory>
    </modules>
    <global>
        <blocks>
            <fulfillmentfactory>
                <class>Harapartners_Fulfillmentfactory_Block</class>
            </fulfillmentfactory>
        </blocks>
        <helpers>
            <fulfillmentfactory>
                <class>Harapartners_Fulfillmentfactory_Helper</class>
            </fulfillmentfactory>
        </helpers>
        <models>
            <fulfillmentfactory>
                <class>Harapartners_Fulfillmentfactory_Model</class>
                <resourceModel>fulfillmentfactory_mysql4</resourceModel>
            </fulfillmentfactory>
            <fulfillmentfactory_mysql4>
                <class>Harapartners_Fulfillmentfactory_Model_Mysql4</class>
                <entities>
                    <itemqueue>
                        <table>fulfillmentfactory_itemqueue</table>
                    </itemqueue>
                    <errorlog>
                        <table>fulfillmentfactory_errorlog</table>
                    </errorlog>
                </entities>
            </fulfillmentfactory_mysql4>
        </models>
        <resources>
            <fulfillmentfactory_setup>
                <setup>
                    <module>Harapartners_Fulfillmentfactory</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </fulfillmentfactory_setup>
            <fulfillmentfactory_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </fulfillmentfactory_write>
            <fulfillmentfactory_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </fulfillmentfactory_read>
        </resources>
    </global>
    <admin>
        <routers>
            <fulfillmentfactory>
                <use>admin</use>
                <args>
                    <module>Harapartners_Fulfillmentfactory</module>
                    <frontName>fulfillmentfactory</frontName>
                </args>
            </fulfillmentfactory>
        </routers>
    </admin>
    <default>
        <fulfillmentfactory_options>
            <aging_setting>
                <fulfillment_aging_day>90</fulfillment_aging_day>
                <shipment_aging_day>3</shipment_aging_day>
            </aging_setting>
        </fulfillmentfactory_options>
    </default>
    <crontab>
        <jobs>
            <fulfillmentfactory_dotcom_inventory_update>
                <schedule>
                    <cron_expr>0 * * * *</cron_expr><!-- every six hours -->
                </schedule>
                <run>
                    <model>fulfillmentfactory/service_dotcom::updateInventory</model>
                </run>
            </fulfillmentfactory_dotcom_inventory_update>
            <fulfillmentfactory_dotcom_update_shipment>
                <schedule>
                    <cron_expr>30 * * * *</cron_expr><!-- half past each hour -->
                </schedule>
                <run>
                    <model>fulfillmentfactory/service_dotcom::runUpdateShipment</model>
                </run>
            </fulfillmentfactory_dotcom_update_shipment>
            <fulfillmentfactory_dotcom_mark_fulfillment_aging_order>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr><!-- midnight daily -->
                </schedule>
                <run>
                    <model>fulfillmentfactory/service_fulfillment::markFulfillmentAgingOrders</model>
                </run>
            </fulfillmentfactory_dotcom_mark_fulfillment_aging_order>
            <fulfillmentfactory_dotcom_mark_shipment_aging_order>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr><!-- midnight daily -->
                </schedule>
                <run>
                    <model>fulfillmentfactory/service_fulfillment::markShipmentAgingOrders</model>
                </run>
            </fulfillmentfactory_dotcom_mark_shipment_aging_order>
        </jobs>
    </crontab>
</config>
