<?xml version="1.0" encoding="UTF-8"?>

<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->

<config>
    <sections>
        <fulfillmentfactory_options translate="label" module="fulfillmentfactory">
            <label>Order Fulfillment Settings</label>
            <tab>sales</tab>
            <frontend_type>text</frontend_type>
            <sort_order>9999</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <aging_setting translate="label">
                    <label>Aging Setting</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <fulfillment_aging_day translate="label">
                            <label>Fulfillment Aging Day</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Aging day for orders which havn't been fulfilled.</comment>
                        </fulfillment_aging_day>
                        <shipment_aging_day translate="label">
                            <label>Shipment Aging Day</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Aging day for orders which havn't got shipping confirmation.</comment>
                        </shipment_aging_day>
                    </fields>
                </aging_setting>
            </groups>
        </fulfillmentfactory_options>
    </sections>
</config>
