<?xml version="1.0"?>
<!--
/**
 * @category    Totsy
 * @package     Totsy_Sales
 * @author      Tharsan Bhuvanendran <tbhuvanendran@totsy.com>
 * @copyright   Copyright (c) 2012 Totsy LLC
 */
-->
<config>
    <modules>
        <Totsy_Sales>
            <version>0.2.1</version>
        </Totsy_Sales>
    </modules>
    <global>
        <blocks>
            <sales>
                <rewrite>
                    <order_item_renderer_default>Totsy_Sales_Block_Order_Item_Renderer_Default</order_item_renderer_default>
                </rewrite>
            </sales>
        </blocks>
        <resources>
            <totsy_sales_setup>
                <setup>
                    <module>Totsy_Sales</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </totsy_sales_setup>
            <totsy_sales_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </totsy_sales_write>
            <totsy_sales_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </totsy_sales_read>
        </resources>
        <blocks>
            <sales>
                <rewrite>
                    <order_item_renderer_default>Totsy_Sales_Block_Order_Item_Renderer_Default</order_item_renderer_default>
                </rewrite>
            </sales>
        </blocks>
        <models>
            <sales>
                <rewrite>
                    <observer>Totsy_Sales_Model_Observer</observer>
                    <order>Totsy_Sales_Model_Order</order>
                    <order_invoice_total_subtotal>Totsy_Sales_Model_Order_Invoice_Total_Subtotal</order_invoice_total_subtotal>
                    <order_invoice>Totsy_Sales_Model_Order_Invoice</order_invoice>
                    <order_payment>Totsy_Sales_Model_Order_Payment</order_payment>
                </rewrite>
            </sales>
        </models>
        <helpers>
            <sales>
                <rewrite>
                    <order>Totsy_Sales_Helper_Order</order>
                </rewrite>
            </sales>
        </helpers>
        <events>
            <sales_order_place_after>
                <observers>
                    <sales_observer>
                        <type>singleton</type>
                        <class>Totsy_Sales_Model_Observer</class>
                        <method>incrementCustomerPurchaseCount</method>
                    </sales_observer>
                </observers>
            </sales_order_place_after>
            <order_cancel_after>
                <observers>
                    <sales_observer>
                        <type>singleton</type>
                        <class>Totsy_Sales_Model_Observer</class>
                        <method>decrementCustomerPurchaseCount</method>
                    </sales_observer>
                </observers>
            </order_cancel_after>
        </events>
        <sales>
            <order>
                <states>
                     <payment_failed translate="label">
                        <label>Payment Failed</label>
                        <statuses>
                            <payment_failed default="1"/>
                            <fraud/>
                        </statuses>
                        <visible_on_front>1</visible_on_front>
                    </payment_failed>
                </states>
            </order>
        </sales>
    </global>
    <crontab>
        <jobs>
            <totsy_sales>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>sales/observer::cancelOrderWithPaymentFailedAndOlderThan7Days</model></run>
            </totsy_sales>
        </jobs>
    </crontab>
</config>
