<?xml version="1.0"?>
<!-- 
/**
 * @package    Harapartners_Import
 */
 -->
<config>
    <modules>
        <Harapartners_Import>
            <version>2.0.0</version>
        </Harapartners_Import>
    </modules>
    <global>
        <models>
            <import>
                <class>Harapartners_Import_Model</class>
                <resourceModel>import_mysql4</resourceModel>
            </import>
            <import_mysql4>
                <class>Harapartners_Import_Model_Mysql4</class>
                <entities>
                    <import>
                        <table>import_import</table>
                    </import>
                </entities>
            </import_mysql4>
        </models>
        <resources>
            <import_setup>
                <setup>
                    <module>Harapartners_Import</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </import_setup>
            <import_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </import_write>
            <import_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </import_read>
        </resources>
        <blocks>
            <import>
                <class>Harapartners_Import_Block</class>
            </import>
        </blocks>
        <helpers>
            <import>
                <class>Harapartners_Import_Helper</class>
            </import>
        </helpers>
        <!--Moved to Harapartners_Service-->
        <!--events>
            <harapartners_import_after>
                <observers>
                    <import>
                        <type>singleton</type>
                        <class>import/observer</class>
                        <method>processBatch</method>
                    </import>
                </observers>
            </harapartners_import_after>
        </events-->
    </global>
    <frontend>
        <routers>
            <import>
                <use>standard</use>
                <args>
                    <module>Harapartners_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
        <layout>
            <updates>
                <import>
                    <file>import.xml</file>
                </import>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <import>
                <use>admin</use>
                <args>
                    <module>Harapartners_Import</module>
                    <frontName>import</frontName>
                </args>
            </import>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <harapartners>
                <children>
                    <import translate= "title" module="import">              
                        <title>Import</title>
                        <sort_order>40</sort_order>
                        <action>import/adminhtml_import</action>
                    </import>
                </children>
            </harapartners>
        </menu> 
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Harapartners_Import>
                            <title>Import Module</title>
                            <sort_order>10</sort_order>
                        </Harapartners_Import>
                    </children>
                </admin>
            </resources>
        </acl>  
        <layout>
            <updates>
                <import>
                    <file>import.xml</file>
                </import>
            </updates>
        </layout>
    </adminhtml>  
</config>