<?xml version="1.0"?>
<config>
	<modules>
		<Crown_CustomerIndex>
			<version>0.1.10</version>
		</Crown_CustomerIndex>
	</modules>
	<global>
		<models>
			<CustomerIndex>
			<class>Crown_CustomerIndex_Model</class>
			<resourceModel>CustomerIndex_Mysql4</resourceModel>
			</CustomerIndex>
			<CustomerIndex_Mysql4>
			<class>Crown_CustomerIndex_Model_Mysql4</class>
			<entities>
				<CustomerIndex>
				<table>customer_entity_flat</table>
				</CustomerIndex>
			</entities>
			</CustomerIndex_Mysql4>
		</models>
		<resources>
			<CustomerIndex_setup>
			<setup>
				<module>Crown_CustomerIndex</module>
			</setup>
			<connection>
				<use>core_setup</use>
			</connection>
			</CustomerIndex_setup>
			<CustomerIndex_write>
			<connection>
				<use>core_write</use>
			</connection>
			</CustomerIndex_write>
			<CustomerIndex_read>
			<connection>
				<use>core_read</use>
			</connection>
			</CustomerIndex_read>
		</resources>
		<blocks>
			<CustomerIndex>
				<class>Crown_CustomerIndex_Block</class>
			</CustomerIndex>
			<adminhtml>
				<rewrite>
					<customer_grid>Crown_CustomerIndex_Block_Adminhtml_Customer_Grid</customer_grid>
					<sales_order_create_customer_grid>Crown_CustomerIndex_Block_Adminhtml_Sales_Order_Create_Customer_Grid</sales_order_create_customer_grid>
				</rewrite>
			</adminhtml>
		</blocks>
		<helpers>
			<CustomerIndex>
			<class>Crown_CustomerIndex_Helper</class>
			</CustomerIndex>
		</helpers>
		<events>
			<customer_save_after>
				<observers>
					<customerindex_customer_save_after>
						<type>singleton</type>
						<class>Crown_CustomerIndex_Model_Customer_Observer</class>
						<method>customerUpdateObserver</method>
					</customerindex_customer_save_after>
				</observers>
			</customer_save_after>
		</events>
	</global>
</config>