<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<TinyBrick_OrderEdit>
			<version>3.1.0</version>
		</TinyBrick_OrderEdit>
	</modules>
	<frontend>
        <routers>
            <orderedit>
                <use>standard</use>
                <args>
                    <module>TinyBrick_OrderEdit</module>
                    <frontName>orderedit</frontName>
                </args>
            </orderedit>
        </routers>
        <layout>
			<updates>
				<orderedit>
					<file>orderedit.xml</file>
				</orderedit>
			</updates>
		</layout>
    </frontend>
    <default>
    	<sales>
            <totals_sort>
                <discount>20</discount>
                <grand_total>100</grand_total>
                <shipping>30</shipping>
                <subtotal>10</subtotal>
                <tax>40</tax>
            </totals_sort>
            <reorder>
                <allow>1</allow>
            </reorder>
        </sales>
    </default>
	<global>
		<blocks>
			<orderedit>
				<class>
					TinyBrick_OrderEdit_Block
				</class>
			</orderedit>
			<adminhtml>
				<rewrite>
					<sales_order_view_info>TinyBrick_OrderEdit_Block_Adminhtml_Sales_Order_View_Info</sales_order_view_info>
					<sales_order_view_tab_info>TinyBrick_OrderEdit_Block_Adminhtml_Sales_Order_View_Tab_Info</sales_order_view_tab_info>
                                        <sales_order_shipment_create_items>TinyBrick_OrderEdit_Block_Adminhtml_Sales_Order_Shipment_Create_Items</sales_order_shipment_create_items>
                                        <sales_order_shipment_view_form>TinyBrick_OrderEdit_Block_Adminhtml_Sales_Order_Shipment_View_Form</sales_order_shipment_view_form>
				</rewrite>
			</adminhtml>
		</blocks>
	    <models>
	        <orderedit>
	             <class>TinyBrick_OrderEdit_Model</class>
	             <resourceModel>orderedit_resource</resourceModel>
	        </orderedit>
	        <orderedit_resource>
	        	<class>TinyBrick_OrderEdit_Model_Resource</class>
	        	<entities>
                    <order_item><table>sales_flat_order_item</table></order_item>
                    <order_address><table>sales_flat_order_address</table></order_address>
                    <order_address_rate><table>sales_flat_order_shipping_rate</table></order_address_rate>
	        	</entities>
	        </orderedit_resource>
	        <shipping>
				<rewrite>
					<carrier_flatrate>TinyBrick_OrderEdit_Model_Carrier_Flatrate</carrier_flatrate>
					<carrier_tablerate>TinyBrick_OrderEdit_Model_Carrier_Tablerate</carrier_tablerate>
				</rewrite>
                </shipping>
                <sales>
                    <rewrite>
                        <abstract>TinyBrick_OrderEdit_Model_Mysql4_Abstract</abstract>
                    </rewrite>
                </sales>
	    </models>
	    <helpers>
	    	<orderedit>
	    		<class>TinyBrick_OrderEdit_Helper</class>
	    	</orderedit>
    	</helpers>
	    <resources>
	            <orderedit_setup>
	                <setup>
	                    <module>TinyBrick_OrderEdit</module>
	                </setup>
	                <connection>
	                    <use>core_setup</use>
	                </connection>
	            </orderedit_setup>
	            <orderedit_write>
	                <connection>
	                    <use>core_write</use>
	                </connection>
	            </orderedit_write>
	            <orderedit_read>
	                <connection>
	                    <use>core_read</use>
	                </connection>
	            </orderedit_read>
	    </resources>
	    
	    <orderedit>
            <order>
                <totals>
                    <subtotal>
                        <class>orderedit/order_address_total_subtotal</class>
                        <before>grand_total</before>
                    </subtotal>
                    <discount>
                        <class>orderedit/order_address_total_discount</class>
                        <after>subtotal</after>
                        <before>grand_total,shipping</before>
                    </discount>
                    <shipping>
                        <class>orderedit/order_address_total_shipping</class>
                        <after>subtotal,discount</after>
                        <before>grand_total</before>
                    </shipping>
                    <tax>
                        <class>orderedit/order_address_total_tax</class>
                        <after>subtotal,shipping</after>
                        <before>grand_total</before>
                        <renderer>checkout/total_tax</renderer>
                        <admin_renderer>adminhtml/sales_order_create_totals_tax</admin_renderer>
                    </tax>
                    <grand_total>
                        <class>orderedit/order_address_total_grand</class>
                        <after>subtotal</after>
                    </grand_total>
                </totals>
              </order>
        </orderedit>
	 </global>
	 
	 <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<toe translate="title">
											<title>True Order Edit</title>
										</toe>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>