<?xml version="1.0"?>
<!--
 * NOTICE OF LICENSE
 *
 * This source file is subject to the End User Software Agreement (EULA).
 * It is also available through the world-wide-web at this URL:
 * http://www.harapartners.com/license
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to eula@harapartners.com so we can send you a copy immediately.
 * 
 -->
<config>
    <modules>
        <Harapartners_Ordersplit>
            <version>1.0.1</version>
        </Harapartners_Ordersplit>
    </modules>
    <global>
        <helpers>
            <ordersplit>
                <class>Harapartners_Ordersplit_Helper</class>
            </ordersplit>
        </helpers>
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_create_search_grid>Harapartners_Ordersplit_Block_Sales_Order_Create_Search_Grid</sales_order_create_search_grid>
                    <sales_order_create_search_grid_renderer_fulfillment>Harapartners_Ordersplit_Block_Sales_Order_Create_Search_Grid_Renderer_Fulfillment</sales_order_create_search_grid_renderer_fulfillment>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <ordersplit>
                <class>Harapartners_Ordersplit_Model</class>
            </ordersplit>
        </models>
        <resources>
            <ordersplit_setup>
                <setup>
                    <module>Harapartners_Ordersplit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ordersplit_setup>
            <ordersplit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ordersplit_write>
            <ordersplit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ordersplit_read>
        </resources>
        <!--Moved to Harapartners_Service-->
        <!--events>
            <sales_order_place_after>
               <observers>
                    <ordersplit>
                        <type>singleton</type>
                        <class>ordersplit/observer</class>
                        <method>salesOrderPlaceAfterSplit</method>
                    </ordersplit>
                </observers> 
            </sales_order_place_after>
        </events-->
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Harapartners_Ordersplit before="Mage_Adminhtml">Harapartners_Ordersplit</Harapartners_Ordersplit>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>