<?xml version="1.0"?>
<config>
    <modules>
        <Totsy_Ajax>
            <version>0.0.1</version>
        </Totsy_Ajax>
    </modules>
    <global>
        <blocks>
            <ajax>
                <class>Totsy_Ajax_Block</class>
            </ajax>
        </blocks>
        <helpers>
            <ajax>
                <class>Totsy_Ajax_Helper</class>
            </ajax>
        </helpers>
    </global>
    <frontend>
        <routers>
            <ajax>
                <use>standard</use>
                <args>
                    <module>Totsy_Ajax</module>
                    <frontName>ajax</frontName>
                </args>
            </ajax>
        </routers>
        <layout>
            <updates>
                <ajax>
                    <file>ajax.xml</file>
                </ajax>
            </updates>
        </layout>
    </frontend>
</config>
