/* login page*/
.ie_seven body a.facebook-button {
	margin-top: -2px;
	margin-left: 225px;
}

/* create account page */
.ie_seven body.customer-account-create div .facebook-button, .enterprise-invitation-customer-account-create div .facebook-button {
	width: 171px;
	margin-top: 30px;
	margin-left: 200px;
}

/* home page */
.ie_seven div.catalog-events-container .catalog-event {
	height: 321px;
	width: 230px;
	display: inline;
}

.ie_seven .catalog-events-container .catalog-event .splash-details {
	position: relative;
}

/* menu bar */
.ie_seven .menu {
	position: relative;
}

.ie_seven #newsales {
	margin-right: 9px;
}

.ie_seven #newsales .trileft {
	top: 0px;
	left: 115px;
	position: absolute;
}

.ie_seven #ending {
	margin-right: 9px;
}

.ie_seven #ending .trileft {
	top: 0px;
	left: 245px;
	position: absolute;
}

.ie_seven #bycat {
	margin-right: 9px;
}

.ie_seven #bycat .trileft {
	top: 0px;
	left: 369px;
	position: absolute;
}

.ie_seven #byage {
	margin-right: 9px;
}

.ie_seven #byage .trileft {
	top: 0px;
	left: 493px;
	position: absolute;
}

/* mouse over window */
.ie_seven .block-content {
	margin-top: 5px;
}

/* product page */
/* banner */
.ie_seven .event-title-container {
	position: relative;
}

.ie_seven .event-title-container .count-down-timer {
	position: absolute;
	top: 10px;
	left: 700px;
}

.ie_seven .event-description-container {
	position: relative;
}

.ie_seven .event-image img{
	margin-left: 0px;
}

.ie_seven .category-description {
	position: absolute;
	top: 10px;
	left: 150px;
}

.ie_seven .product-info {
	position: relative;
}

.ie_seven .price-box {
	position: absolute;
	top: 10px;
	right: 10px;
}

.ie_seven .product-main-info .price-box {
	position: relative;
}

.ie_seven .product-info-box {
	position: relative;
}

.ie_seven .product-collateral {
	position: absolute;
	top: 70px;
	left: 0px;
}

.ie_seven .ui-tabs-panel {
	position: absolute;
	left: 0px;
	top: 42px;
	width: 500px;
}

.ie_seven .final-sale {
	position: absolute;
	top: 360px;
}

.ie_seven .product-shop {
	position: absolute;
	right: 320px;
	top: 200px;
}

.ie_seven .invitation-form {
	position: relative;
}

.ie_seven .invitation-right {
	position: absolute;
	right: 5px;
	top: 20px;
}

/* my invitation page */
.ie_seven #invite-gmail {
	position: absolute;
	top: 100px;
	left: 0px;
}

.ie_seven #invite-outlook {
	position: absolute;
	top: 170px;
	left: 0px;
}

.ie_seven #invite-msn {
	position: absolute;
	top: 240px;
	left: 0px;
}

.ie_seven #invite-aol {
	position: absolute;
	top: 170px;
	left: 169px;
}

.ie_seven #invite-others {
	position: absolute;
	top: 240px;
	left: 169px;
}

/* estimated shipping date */
.ie_seven #topCartContent div.shipping-date {
	display: inline;
}

/* cart count-down-timer */
.ie_seven #topCartContent div.count-down-timer {
	display: inline;
}

.ie_seven div.top-cart #topCartContent .product-details table {
	display: inline;
}

.ie_seven #topCartContent .product-details .option-list {
	display: inline;
}

.ie_seven #topCartContent .product-details .option-list p {
	display: inline;
	padding: 1px;
}

.ie_seven #hpcheckout-billing-wrapper {
	display: inline;
}

.ie_seven #hpcheckout-shipping-wrapper {
	display: inline;
}

.ie_seven #topCartContent .actions .button {
	height: 25px;
}

/*
.ie_seven div.cart .checkout-types button.btn-checkout span {
	line-height: 30px;
}*/

.ie_seven div.cart .checkout-types button.btn-checkout span span {
	line-height: 21px !important; 
}

.ie_seven div.cart .cart-table .btn-update span span {
	line-height: 16px !important;
}

.ie_seven div.cart .deals button span span {
	line-height: 16px !important;
}

.ie_seven #items-info-wrapper .actions button.button {
	padding-top: 0px;
}

.ie_seven .billing-address-select {
	position: absolute;
	display: inline;
	top: 219px;
	left: 548px;
}

.ie_seven .shipping-address-select {
	position: absolute;
	display: inline;
	top: 219px;
	left: 994px;
}

.ie_seven .checkout-content {
	display: inline;
}

.ie_seven .product-view .product-essential button.btn-cart {
	height: 30px;
}

.ie_seven .catalog-product-view .product-view .product-shop .add-to-cart button span span{
	line-height: 27px !important;
	padding-top: 0px !important;
}