.header #invite {
	position:absolute;
	top:0px;
	width:100%;
}
.header a
{
	text-decoration:none;
}

.header #invite a {
	text-decoration:none;
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #ECECEC;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-color: #CCCCCC;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-style: none;
    border-bottom-width: medium;
    border-top-color: #CCCCCC;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-style: none;
    border-top-width: medium;
    box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.25);
    color: #636466;
    display: block;
    font-size: 13px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
    width: 22.5%;
}

.header #invite a strong {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url("../images/btn-arrow.png");
    background-origin: padding-box;
    background-position: 100% 50%;
    background-repeat: no-repeat;
    background-size: auto auto;
    color: #D84643;
    padding-right: 8px;
}

.header #invite a strong:hover {
    text-decoration: underline;
    -moz-text-decoration-style: solid;
}

.header-container
{
	margin: 43px auto 0 auto;
	overflow-x:visible;
	overflow-y:visible;
	position:ralative;
	width:960px;
	background-color:#FFFFFF;
	border-color:#FFFFFF;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
	padding:10px 5px 5px 10px;
	border-top-left-radius:8px;
	border-top-right-radius:8px;
	width:945px;
	height:80px
	
}

.header
{
	margin: -54px 0 40px 0;
	padding-top:26px;
	position: relative;
	width:100%;
	z-index:100
}
.logo
{
	float:left;
	height:77px;
	margin:0 15px 0 5px;
	width:125px;
}

.nav
{
	font-size:12px;
	margin-right:7px;
	padding:9px 0 0 0;
	width:780px;
	position:absolute;
	left:155px
}

.tri{
	background-image: url("../images/nav-tri.png");
	background-color: transparent;
	display:block;
	height:9px;
	right:-10px;
	top: -1px;
	width:9px;
	float:right;
}

body .header .quick-access
{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 1px;
	border-style: solid;
	float:right;
	max-width:32%;
	min-width:210px;
	padding: 2px 14px 5px 10px;
	box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.25);
}

#userinfo{
	float:right;
	margin-bottom:5px;
	font-size:12px;
}

#userinfo .links a{
	font-size:12px;
	text-transform: none;
	color: #ED1C25;
	line-height:15px;
}
#userinfo .links .last{
	display:none;
}

#usercart li{
	background-image:none;
}

#usercart li a.top-link-checkout{
	background-image:none;
	background-image: url("../images/btn-arrow-s.png");
    background-origin: padding-box;
    background-position: 90% 50%;
    line-height: 1.6;
    padding-top: 3px;
    background-repeat:no-repeat;
    

}

#usercart li a.top-link-checkout {

	background-color: #DA504D;
	color: #FFFFFF;
	float: left;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 10px;
	font-weight:900;
	backgournd-position:0 50.5%;
	border-top-left-radius:3px;
	border-top-right-radius:3px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;
	border-width:1px;
	border-style:solid;
	padding:1px 15px 0 15px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.45);
	border-color: rgba(255, 255, 255, 0.55);
}

.nav ul
{
	float: left;
	margin-left:0

}
.nav ul.menu li
{
	background-color: #FFFFFF;
	border-color: #CCCCCC;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border-width: 1px;
	border-style: solid;
	float:left;
	padding: 0px 6px 0px 0px;
	z-index:100;
	box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.25);

}
.nav ul.menu li a 
{
	color:#636466;
	display:block;
	font-weight:bold;
	padding: 19px 10px 5px 10px;
}

.nav ul.menu li a em
{
	background-image:url("../images/icons-nav.png");
	background-repeat:no-repeat;
	display:block;
	font-weight: bold;
	padding-left: 33px;
	font-style:normal;
}
.nav #newsales a em
{
 	background-position: 0 0 ;

}

.nav #ending a em
{
 	background-position: 0 -35px ;

}

.nav ul li.haschild a em
{
 	background-position: 100% -69px;
 	padding-left: 0;
 	padding-right: 33px;

}


.customer-account-login .nav
{
	display:none;

}

.trileft{
	float:left;
	background-image: url("../images/nav-tri.png");
	height: 9px;
	right:-10px;
	top:-1px;
	width:9px

}

.space
{
	height:10px;
	display:none;
}
.haschild ul{
	display:none;
	padding-top:0;

}

ul.menu ul.shop li{
	background-image:none;
	background-repeat:no-repeat;
	padding-left: 0px;
	font-style:normal;
	font-weight:normal;
	border-style: none;
	padding-top:0;
	box-shadow:none;
}

ul.menu ul.shop li a{
	font-weight:normal;
	padding-top:0;
}

.header .cart{
    background-color: transparent;
    background-image: url("../images/icon-cart.png");
    background-origin: padding-box;
    background-position: 0 45%;
    background-repeat: no-repeat;
    color: #707070;
    float: left;
    margin-right: 8px;
    padding-top: 2px;
    margin-left:15px;
    padding-left:23px
}

#usercart .links .icon
{
	display:none
}

#usercart .links .icon
{
	display:none
}

#usercart a{
	color:#ED1C25;	
}

#usercart a.cart em{
	font-weight:normal;
	font-style:normal;	
}

#usercart a.cart em strong{
	font-weight:bold;
	font-style:normal;
}

.category-products .product-image{
	width:125px;
}

/*--------------------------My Account-------------------------------------*/ 
div.need_help,body .sidebar div.block-account{
	background:#F7F7F7;
	padding:13px;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	margin:0 0 10px 10px;
	width:180px;
}

body.paymentfactory-index-index .need_help a, body.enterprise-customerbalance-info-index .need_help a{
	color:#ED1C25;
}

body.paymentfactory-index-index .account-page-title, body.enterprise-customerbalance-info-index .account-page-title{
	margin-bottom:10px;
}


body.paymentfactory-index-index .need_help hr, body.enterprise-customerbalance-info-index .need_help hr{
	border:1px solid #CCC;
	border-bottom:none;
}

body.paymentfactory-index-index .my-rewards .box{
	margin-top:10px;
}

body.paymentfactory-index-index .block-account .block-title, body.enterprise-customerbalance-info-index .block-account .block-title{
	padding:0px 0px 5px 0;
	border-bottom:1px solid #BBB;
	margin-bottom:5px;
}

body.paymentfactory-index-index .sidebar .block-account .block-title, body.enterprise-customerbalance-info-index .sidebar .block-account .block-title{
	font-size:13px;
	color:#AAA;
	font-weight:bold;
}

body.paymentfactory-index-index .block-content li a, body.enterprise-customerbalance-info-index .block-content li a{
	color:#ED1C25; 
}

body.paymentfactory-index-index .block-content li a:hover, body.enterprise-customerbalance-info-index .block-content li a:hover{
	background:none;
	color:#ED1C25;
}

body.paymentfactory-index-index .block-content li a, body.enterprise-customerbalance-info-index .block-content li a{
	padding:0px;
}

body.paymentfactory-index-index .block-content li.current, body.enterprise-customerbalance-info-index .block-content li.current{
	color:#ED1C25;
	font-weight:lighter;
	background:none;
	padding-left:0px;
}

body.paymentfactory-index-index .block-content li, body.enterprise-customerbalance-info-index .block-content li{
	padding-left:0px;
	text-align:left;
}

body.paymentfactory-index-index .my-account, body.enterprise-customerbalance-info-index .my-account{
	margin-left:10px;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	background:#F7F7F7;
	padding:10px;
}

body.paymentfactory-index-index .page-title, body.enterprise-customerbalance-info-index .page-title{
	margin: 0px;
	border-bottom:1px solid #CCC;
	padding:10px 20px 15px 0px;
}
/*----------------------------Address && Recurring Membership-----------------*/
body.customer-address-form .need_help,body.recurringmembership-index-index .need_help, body.customer-address-form .block-account, body.recurringmembership-index-index .block-account{
	background:#F7F7F7;
	padding:13px;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	margin:0 0 10px 10px;
	width:180px;
}

body.customer-address-form .need_help a, body.recurringmembership-index-index .need_help a{
	color:#ED1C25;
}

body.customer-address-form .account-page-title, body.recurringmembership-index-index .account-page-title{
	margin-bottom:10px;
}


body.customer-address-form .need_help hr, body.recurringmembership-index-index .need_help hr{
	border:1px solid #CCC;
	border-bottom:none;
}

body.customer-address-form .my-rewards .box{
	margin-top:10px;
}

body.customer-address-form .block-account .block-title, body.recurringmembership-index-index .block-account .block-title{
	padding:0px 0px 5px 0;
	border-bottom:1px solid #BBB;
	margin-bottom:5px;
}

.sidebar div.block-account .block-title strong span{
	font-size:13px;
	color:#707070;
	font-weight:bold;
}

body.customer-address-form .block-content li a, body.recurringmembership-index-index .block-content li a{
	color:#ED1C25; 
}

body.customer-address-form .block-content li a:hover, body.recurringmembership-index-index .block-content li a:hover{
	background:none;
	color:#ED1C25;
}

body.customer-address-form .block-content li a, body.recurringmembership-index-index .block-content li a{
	padding:0px;
}

body.customer-address-form .block-content li.current, body.recurringmembership-index-index .block-content li.current{
	color:#ED1C25;
	font-weight:lighter;
	background:none;
	padding-left:0px;
}

body.customer-address-form .block-content li, body.recurringmembership-index-index .block-content li{
	padding-left:0px;
	text-align:left;
}

body.customer-address-form .my-account, body.recurringmembership-index-index .my-account{
	margin-left:10px;
	border: 1px solid #d7d7d7;
	border-radius:8px;
	background:#F7F7F7;
	padding:10px;
}

body.customer-address-form .page-title, body.recurringmembership-index-index .page-title{
	margin: 0px;
	border-bottom:1px solid #CCC;
	padding:10px 20px 15px 0px;
}

/*--------------------------Credit Cards-------------------------------------*/ 

.cards-info ul{
	margin-top:20px
}
ul.cards_item{
	font-size:13px;
	margin-bottom:5px;
	margin-top:15px
}

ul.cards_item li{
	font-size:15px;
	display:inline;
	margin-right:40px;
}

ul.cards_item li.card_type{
	width:200px;
	display:block;
	float:left
}

.membership h2{
	margin-top:5px;
	font-size:14px
}


.membership button{
	margin-top:5px;
	margin-right:10px
}

.cards-info h2{
	margin-top:10px;
	font-size:14px
}

/*--------------------------Regisration Page ------------------------------------------*/
body.customer-account-create .col1-layout .col-main, body.enterprise-invitation-customer-account-create .col1-layout .col-main {
	border-color:#eee;
	border-width:1px;
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
}

.customer-account-create h2.tagline, .enterprise-invitation-customer-account-create h2.tagline{
	padding-top:10px;
	color:#ED1C25;
	font-size:18px;
	font-weight:normal;
	padding-bottom:10px
}

.customer-account-create h2.join-with-fb{

}

.customer-account-create h2, .enterprise-invitation-customer-account-create h2{
	color:#999999;
	font-size:18px;	
}

.customer-account-create ul.form-list label{
	font-weight:normal;
	line-height:30px;
	color:#707070;
}

body.customer-account-login div.brands-box, body.customer-account-login div.info-boxs {
	border-color:#eee;
	border-width:1px;	
}


.customer-account-create div#messages_product_view, .customer-account-login ul.messages {
	width: 730px
}

body.customer-account-create div.page{
	height:auto;
}
/*--------------------------Forgot Password ------------------------------------------*/
body.customer-account-forgotpassword .main{
	background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #f5f5f5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f5f5f5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* IE10+ */
	background: linear-gradient(top,  #ffffff 0%,#f5f5f5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f5f5',GradientType=0 ); /* IE6-9 */
	height:auto	
}

body.customer-account-forgotpassword .col-main{
	min-height:0px;
	padding-top:28px
}

body.customer-account-forgotpassword h2{
	color:#999999;
	font-size:18px
}

body.customer-account-forgotpassword p{
	color:#707070;
}

body.customer-account-forgotpassword div.form-buttons button{
	margin-top:0px
}

body.customer-account-login ul.form-list label {
	color:#707070;
	font-weight:normal
}

/*--------------------------404 Not Found ------------------------------------------*/
.cms-index-noroute .main{
	background-image:url("../images/status-404-oopsgirl.png");
	min-height:348px;
	background-position:0 0;
	background-repeat:no-repeat;
}

#p-status-404{
	padding-left:390px;
}

#p-status-404 h1{
	background-image:url("../images/status-404-title.gif");
	background-position:0 0;
	background-repeat:no-repeat;
	height:56px;
	text-indent:-999em;
}
#p-status-404 .page-title{
	margin-bottom:5px
}

#p-status-404 p{
	font-size:16px;
	color:#707070
}

/*--------------------------Account Login ------------------------------------------*/
.customer-account-login .account-login{
	margin-bottom:0px;
}

/*--------------------------My Account ------------------------------------------*/
.my-account div.page-title h1{
	font-size:20px;
	font-weight:normal;
	margin:0 0 20 0;
	color:#707070
}

body .col-main div.my-account{
	padding-left:15px
}

.my-account p{
	font-size:12px;
	line-height:19px;
	color:#707070
}

.my-account .sub-title{
	font-size:12px;
	font-weight:bolder;
	color:#707070
}

.my-account .box-title{
	color:#707070;
	font-size:12px;
	font-weight:bold
}

.my-account .box-title a{
	font-weight:normal
}

body .my-account .fieldset h2.legend {
	font-size:12px;
	font-weight:bolder;
	color:#707070;
	margin-top:10px
}

.my-account .form-list label{
	font-size:12px;
	font-weight:normal;
	color:#707070;

}

.enterprise-invitation-index-index textarea.invitation-link-area {
    color: #ED1C25;
    resize: none; 
    height:15px;
    width:270px
}

.my-account .button span{
	background-image:none;
	background-color:#ED1C25;
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	border-radius:5px;
	padding:0px
}

.my-account .button span span{
	margin:0;
	padding:3px 10px 3px 10px;
	font-weight:bold;
}

.my-account p.back-link{
	display:none
}
/*--------------------Product View----------------------------------*/
.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box{
	width:80px;
}

body.catalog-category-view .category-products ul.products-grid li.item div.product-info h2{
	max-width:190px
}

/*---------------------Fancy Box -----------------------------------------------*/
#fancybox-wrap{
	border-radius:5px
}

#fancybox-wrap .form-buttons{
	width:auto
}

#fancybox-wrap .form-list label{
	width:auto;
	margin-top:8px;
	margin-bottom:5px;

}

#fancybox-wrap .input-box .input-text{
	resize: none;
	width:450px;
	height:130px;
	margin-left:20px;

}

#fancybox-wrap .little-title h2{
	font-size:18px;
	font-weight:bold;
	color:#ED1C25
}

#fancybox-wrap #facebook_window p{
	font-size:14px;	
}

#fancybox-wrap #facebook_window p{
	font-size:14px;	
}

#fancybox-wrap #facebook_window h3{
	font-size:16px;
	color:#009900;
	margin-bottom:10px
}
#fancybox-wrap #facebook_window .window_content{
	margin-top:50px;
	

}

#fancybox-wrap #facebook_window a{
	color:#009900
}

#fancybox-wrap #facebook_window img{
	margin-top:-10px;
	margin-right:5px
}


#facebook_window{
	width:300px;
	height:200px;
	overflow:auto;
}

#invite_window{
	width:500px;
	height:500px;
	overflow:auto;
}

/*-----------------------header fade----------------------*/
ul.menu ul.shop li a:hover{
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s; /* Firefox 4 */
	-webkit-transition-duration: 0.4s; /* Safari and Chrome */
	-o-transition-duration: 0.4s; /* Opera */ 
}

/*-------------------------Reset Password-------------------------------------*/
body.customer-account-create div .facebook-button, .enterprise-invitation-customer-account-create div .facebook-button{
    float: right;
    margin-right: 3px;
    width: 300px;
}

.customer-account-resetpassword .page-title h1{
	font-weight:normal
}

.customer-account-resetpassword .page-title{
	border-bottom: 1px #aaa;
}


.customer-account-resetpassword .col-main{
	margin-left:5px
}

.customer-account-resetpassword .buttons-set button.button{
	float:left
}

.customer-account-resetpassword .buttons-set{
	padding-top:0px;
	margin-top:0px
}

.customer-account-resetpassword .fieldset{
	margin-bottom:0px
}

.sales-order-view .order-date{
	margin-bottom:0px;	
}

.sales-order-view .shipping-date{
	font-size:11px;
}