div.page {
width:960px;
font-family:Helvetica,Arial,sans-serif;
}

.page div.main {
border-radius:10px;
}

div#messages_product_view,ul.messages {
max-width:940px;
margin:0 auto;
}

div.nav {
min-width:780px;
}

#userinfo strong {
text-overflow:ellipsis;
white-space:nowrap;
}

.top-cart div.inner-wrapper {
border:0;
border-radius:6px;
box-shadow:0 0 7px 5px #CFCFCF;
padding:5px;
}

.top-cart .block-content p.subtotal {
display:block;
text-align:right;
padding:10px;
}

.top-cart .block-content p.subtotal span.label {
font-size:15px;
color:#777;
}

.top-cart .block-content p.subtotal span.price {
font-size:14px;
font-weight:700;
color:#090;
}

#topCartContent {
min-width:460px;
}

#topCartContent .timer-control-box {
padding:10px 0 10px 183px;
}

#topCartContent .timer-control-box p,#topCartContent .timer-control-box p span {
color:#090;
font-size:14px;
font-weight:700;
}

#topCartContent .mini-products-list .product-details {
width:340px;
}

#topCartContent div.truncated {
width:90px;
display:inline-block;
float:right;
}

div.top-cart {
float:left;
padding:8px 0 0 3px;
}

div.top-cart .block-title {
background:url(../images/icon-cart.png) no-repeat scroll 0 0 #FFF;
}

div.top-cart .block-title strong {
color:#F21C25;
font-size:12px;
text-transform:capitalize;
}

#usercart .links {
padding-top:7px;
}

#usercart .actions a {
background:none repeat scroll 0 0 #FFF;
border:1px solid #ed1c25;
border-radius:4px;
font-weight:700;
float:right;
text-transform:uppercase;
padding:0 8px;
}

#usercart .actions button.button span,#usercart .actions button.button span span {
background:none;
color:#FFF;
font-weight:700;
font-size:12px;
}

#usercart .actions button.button {
background:none repeat scroll 0 0 #ed1c25;
border:1px solid #ed1c25;
border-radius:4px;
font-weight:700;
float:right;
margin-left:10px;
padding:2px 8px 0;
}

#usercart table.product-top {
padding-bottom:2px;
border-bottom:1px solid #CFCFCF;
margin:0;
}

#usercart table.product-top th.product-name-head {
padding-left:0;
}

#usercart table.product-top tr.product-name-row {
min-width:233px;
}

#topCartContent .option-list {
display:inline-block;
position:relative;
right:-140px;
}

#topCartContent .option-list li p {
display:inline-block;
color:#8f8f8f;
}

.hpcheckout-checkout-index #checkoutcart-block-title {
display:block;
}

#usercart .top-cart .block-content ol#mini-cart {
max-height:220px;
overflow-y:auto;
}

h1.event-collection-title {
color:#707070;
font-size:20px;
font-weight:400;
border-bottom:1px solid #DDD;
margin:10px 5px 0;
padding:10px 0 5px;
}

.top-events .catalog-top-event {
display:inline-block;
height:403px;
vertical-align:top;
padding:5px 0 5px 4px;
}

.catalog-events-container .top-events .splash-details {
top:-56px;
border:none;
background:none repeat scroll 0 0 #000;
opacity:0.7;
}

.catalog-events-container .catalog-event {
display:inline-block;
min-width:230px;
min-height:321px;
padding:5px 0 5px 4px;
}

.catalog-events-container .catalog-event img {
border:1px solid #D7D7D7;
border-bottom:none;
}

.catalog-events-container .catalog-event p.event-name {
color:#fff;
font-size:15px;
font-style:normal;
font-family:Helvetica,Arial,sans-serif;
width:210px;
max-height:24px;
overflow:hidden;
}

.catalog-events-container .catalog-event p {
color:#c7c7c7;
font-size:12px;
font-style:italic;
}

.catalog-events-container .splash-details {
position:relative;
background:none repeat scroll 0 0 #5e5e5e;
color:#FFF;
border:1px solid #D7D7D7;
border-top:none;
padding:10px;
}

.catalog-events-container .splash-details .table-cell-right {
position:absolute;
right:8px;
top:26px;
}

.catalog-events-container .catalog-event .splash-details {
position:absolute;
width:228px;
padding:0;
}

.catalog-events-container .catalog-event .splash-details .table-cell-left {
float:left;
display:block;
line-height:24px;
padding:5px 5px 5px 10px;
}

.catalog-events-container .splash-details .table-cell-right a {
display:table-cell;
color:#fff;
text-decoration:none;
font-size:12px;
font-weight:700;
background:none repeat scroll 0 0 #ED1C25;
border:1px solid #ED1C25;
border-radius:4px;
cursor:pointer;
text-transform:uppercase;
vertical-align:middle;
padding:3px 8px;
}

.show-more-controller {
margin:10px 5px 20px;
}

.show-more-banner {
height:20px;
text-align:center;
background:#000;
opacity:0.2;
cursor:pointer;
}

.show-more-banner span {
font-size:13px;
color:#f2f2f2;
}

div.event-title-container {
border-bottom:1px solid #D7D7D7;
padding:10px 0 2px;
}

div.event-title-container h1,div.event-title-container p.count-down-timer {
display:inline-block;
font-size:20px;
}

div.event-description-container {
margin-top:5px;
border:1px solid #D7D7D7;
background:#F0EFEF;
}

div.event-description-container div {
display:inline-block;
vertical-align:top;
}

div.event-description-container img {
width:156px;
}

div.event-description-container div.std {
font-size:12px;
line-height:21px;
width:736px;
padding:10px 20px;
}

div.event-title-container h1 span span {
color:#707070;
}

.catalog-product-view div.product-view {
background:transparent;
border:none;
float:none;
width:100%;
margin:0;
}

.catalog-product-view div.product-view .product-view-block {
display:inline-block;
margin:10px 5px;
padding:0;
}

.catalog-product-view div.product-info-box {
margin:5px;
}

.catalog-product-view .product-img-box {
width:348px;
padding:10px 0 0;
}

.catalog-product-view .product-img-box p.product-image {
width:348px;
height:auto;
}

.catalog-product-view .product-img-box div.more-views {
max-width:270px;
}

.catalog-product-view div.product-name {
width:348px;
}

.catalog-product-view div.product-name h1 {
color:#707070;
font-size:20px;
margin:10px 0 20px;
}

.catalog-product-view div.product-collateral {
width:385px;
padding:0;
}

.catalog-product-view .collateral-tabs div.tab-content {
width:348px;
border:none;
border-top:2px solid #ED1C25;
line-height:20px;
text-align:left;
color:#707070;
font-size:12px;
padding:8px 0;
}

.tab-content img {
max-width:100%;
}

.catalog-product-view div.product-shop {
width:170px;
}

.catalog-product-view .product-shop div.product-main-info {
background:none repeat scroll 0 0 #F0EFEF;
border:1px solid #d7d7d7;
border-radius:5px;
text-align:center;
margin:0;
padding:10px;
}

.product-view .product-shop div.price-box p.special-price {
position:relative;
top:-25px;
}

.product-view .product-shop div.price-box p.old-price {
position:relative;
top:25px;
}

.product-view .product-shop div.price-box p.special-price .price,.product-view .product-shop div.price-box span.regular-price .price {
font-weight:400;
font-size:20px;
color:#090;
}

.catalog-product-view .product-view .product-shop .add-to-cart button {
background:#ED1C25;
border-radius:5px;
width:100px;
margin:10px 0;
}

.catalog-product-view .product-view .product-shop .add-to-cart button span,.catalog-product-view .product-view .product-shop .add-to-cart button span span {
background:none;
padding:2px 5px!important;
}

div.share-button {
width:130px;
padding:20px;
}

dl.collateral-tabs .active span {
color:#FFF!important;
font-size:12px;
text-transform:uppercase;
}

dl.collateral-tabs .tab span {
color:#333;
font-size:12px;
text-transform:uppercase;
}

dl.collateral-tabs table.data-table tr td.data {
border:0;
padding:0;
}

div.options-container-big {
border-top:none;
background:none;
padding:0;
}

div.options-container-big .product-options dd .input-box {
background:url(../images/selector.png) no-repeat scroll right center transparent;
border:1px solid #C1C1C1;
border-radius:5px 5px 5px 5px;
box-shadow:0 -10px 9px rgba(0,0,0,0.05) inset;
color:#333!important;
line-height:14px!important;
overflow:hidden;
position:relative;
margin:2px -2px;
padding:0;
}

div.options-container-big .product-options dd .validation-error,div.options-container-big .product-options dd .validation-passed {
background:url(../images/selector.png) no-repeat scroll right 8px transparent;
}

div.options-container-big .product-options dd .input-box span {
border-bottom-left-radius:4px;
border-right:1px solid #C1C1C1;
border-top-left-radius:4px;
color:#333!important;
display:block;
line-height:14px!important;
margin-right:20px;
overflow:hidden;
text-overflow:ellipsis;
white-space:nowrap;
padding:5px;
}

div.options-container-big .product-options dd .input-box select {
background:none repeat scroll 0 0 transparent;
border:1px solid;
color:#333!important;
height:100%;
left:0;
line-height:14px!important;
opacity:0;
position:absolute;
top:0;
width:100%;
}

div.options-container-big .product-options dd .input-box .validation-advice {
border-top:1px solid #c1c1c1;
}

p.totsy-price {
font-size:14px;
font-weight:700;
text-transform:uppercase;
color:#707070;
}

p.totsy-price:hover {
color:#ED1C25;
cursor:default;
}

.box-collateral div.box-title {
background:none;
border:none;
border-bottom:1px solid #DDD;
}

.box-collateral div.box-title h2 {
color:#707070;
font-size:14px;
}

.box-collateral ul.box-content {
padding:5px 0;
}

.box-collateral ul.box-content li.item {
width:auto;
padding-right:5px;
margin:0;
}

.box-collateral ul.box-content li.item a.product-image {
margin-right:0;
}

p.final-sale strong {
color:#707070;
font-size:12px;
line-height:19px;
}

div.gift-card {
padding:10px 0;
}

a.gift-card-btn {
background-color:#DA504D;
color:#FFF;
float:left;
font-family:Helvetica, Arial, sans-serif;
font-size:12px;
font-weight:900;
backgournd-position:0 50.5%;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
box-shadow:0 1px 2px rgba(0,0,0,0.45);
border-color:rgba(255,255,255,0.55);
border-style:solid;
border-width:1px;
padding:1px 15px 0;
}

div.page-title {
box-shadow:none;
background:none;
padding-top:30px;
border:none;
}

div.page-title h1 {
color:#707070;
font-weight:700;
font-size:20px;
}

div.page-title .timer-control-box span,div.page-title .shipping-date span {
font-size:14px;
color:#707070;
}

div.page-title .timer-control-box p#cart-timer,div.page-title .timer-control-box p#cart-timer span,div.page-title .shipping-date p#cart-shipping-date-header {
color:#090;
font-weight:700;
font-size:14px;
}

div.page-title .timer-control-box p#cart-timer span.over {
color:#EB132C;
}

div.top-check-out {
display:inline-block;
width:918px;
border-top:1px solid #DDD;
margin:0 20px;
padding:20px 0;
}

div.cart-form-container {
border:1px solid #DDD;
border-radius:8px;
margin:20px;
}

table.cart-table {
border:none;
border-radius:8px;
margin-top:4px;
}

table.cart-table tfoot {
border:none;
background:none;
}

table.cart-table tfoot tr td {
border:none!important;
}

table.cart-table tbody td {
padding:7px;
}

table.cart-table td div.item-options li {
display:block;
padding:1px 0;
}

table.cart-table td div.item-options label {
float:left;
padding-right:5px;
color:#707070;
font-size:12px;
font-weight:700;
}

table.cart-table td span.price {
color:#707070;
font-size:12px;
font-weight:700;
line-height:19px;
}

table.cart-table td a.btn-remove2 {
background:url(../images/btn_remove.png) no-repeat scroll 0 0 transparent;
height:25px;
width:25px;
}

div.updown {
background:url(../images/selector.png) no-repeat scroll 38px 6px #FFF;
border:1px solid #c1c1c1;
border-radius:4px;
display:inline-block;
height:23px!important;
width:50px!important;
}

.updown-left {
display:inline;
float:left;
height:23px;
width:auto;
}

.updown-left input.qty {
height:18px;
text-align:center;
border:0 none;
border-radius:4px;
}

.updown-right {
float:right;
height:23px;
width:16px;
}

div.cart .totals {
width:530px;
}

div.cart .cart-collaterals {
width:400px;
}

div.cart .checkout-types .btn-proceed-checkout span,div.cart .checkout-types .btn-continue span,div.cart .checkout-types .btn-proceed-checkout span span,div.cart .checkout-types .btn-continue span span {
background:none;
height:21px!important;
padding:0!important;
}

div.cart .checkout-types .btn-proceed-checkout {
background:#ED1C25;
border:1px solid #ED1C25;
border-radius:4px;
vertical-align:middle;
padding:5px 8px;
}

div.cart .checkout-types .btn-continue {
background:#FFF;
border:1px solid #ED1C25;
border-radius:4px;
vertical-align:middle;
padding:5px 8px;
}

div.cart .deals button,div.cart .cart-table .btn-update {
background:#FFF;
border:1px solid #ED1C25;
border-radius:4px;
vertical-align:middle;
padding:1px 8px;
}

div.cart .deals button.check-gc-status {
border:0;
padding:0;
}

div.cart .deals button span,div.cart .cart-table .btn-update span {
background:none;
height:16px!important;
padding:0!important;
}

div.cart .totals .savings,.sales-order-view .savings {
text-align:right;
padding-bottom:10px;
padding-right:5px;
color:#FF6D1D;
font-style:italic;
font-weight:700;
}

.sales-order-view .shipping-date {
text-align:right;
padding-bottom:10px;
padding-right:5px;
color:#090;
font-style:italic;
font-weight:700;
}

div.cart-empty {
font-size:24px;
text-align:center;
padding-top:140px;
}

body.product-totsy-gift-card .page div.col-main {
padding:10px 50px;
}

body.product-totsy-gift-card div.product-view .product-info-box {
width:458px;
margin-top:25px;
margin-left:30px;
}

body.product-totsy-gift-card div.product-name h1 {
font-size:33px;
font-weight:700;
}

body.product-totsy-gift-card div.product-collateral {
float:left;
margin-left:10px;
}

body.product-totsy-gift-card div.product-view .product-shop {
width:458px;
margin-top:0;
}

body.product-totsy-gift-card .product-shop div.product-main-info {
background:none;
border:none;
padding:0;
}

body.product-totsy-gift-card .giftcard-send-form {
background:none;
border:0 none;
margin:0;
padding:0;
}

body.product-totsy-gift-card .giftcard-send-form label.long-term {
width:375px;
}

body.product-totsy-gift-card .giftcard-send-form div.form-list-selector {
float:left;
width:246px;
padding:5px;
}

body.product-totsy-gift-card .giftcard-send-form div.form-msg-selector {
float:left;
width:155px;
padding:5px;
}

body.product-totsy-gift-card div.share-button {
width:130px;
padding:0;
}

.customer-revalidate-index .validation-form-container {
width:500px;
border:5px solid #DCEDFA;
border-radius:22px;
margin:50px auto;
padding:6px;
}

.customer-revalidate-index .validation-form-container .fieldset {
margin:0;
padding:20px 50px;
}

.customer-revalidate-index .validation-form-container div.buttons-set {
width:369px;
}

.customer-revalidate-index .validation-form-container label.required {
width:75px;
float:left;
text-align:left;
color:#999;
}

.customer-revalidate-index .validation-form-container .form-list input.input-text {
width:300px;
height:22px;
border-radius:6px;
}

.customer-revalidate-index .validation-form-container .buttons-set div.sign-in-button {
border:0 solid #8B9FC2;
background:#ED1C25;
font-weight:700;
color:#FFF;
border-radius:5px;
padding:5px 30px;
}

.customer-revalidate-index .validation-form-container .fieldse h2 {
border-bottom:1px solid #CCC;
color:#AAA;
font-size:16px;
font-weight:400;
margin-bottom:20px;
text-align:center;
padding:0 0 10px;
}

body.customer-account-resetpassword .col1-layout .col-main {
width:380px;
}

body.paymentfactory-index-index div.page-title {
padding:10px 0 0;
}

.paymentfactory-index-index .add-new-card-button,.paymentfactory-index-index .add-new-card-close {
text-align:right;
color:#ED1C25;
cursor:pointer;
margin:10px 0 0;
}

.paymentfactory-index-index label.required,.paymentfactory-index-index label {
display:block;
float:left;
font-weight:400;
line-height:30px;
width:120px;
text-align:left;
}

.paymentfactory-index-index input.input-text {
border-radius:5px;
padding:5px;
}

.paymentfactory-index-index #card-info .totsy-selective-input-box {
width:118%;
}

.paymentfactory-index-index #card-info #paymentfactory_tokenize_cc_cid {
width:56px;
}

.paymentfactory-index-index #card-info .form-list input.input-text {
width:190px;
}

.paymentfactory-index-index #card-info .v-fix .validation-advice {
border-top:1px solid #DDD;
display:block;
margin-right:-12em;
position:relative;
text-align:center;
width:64px;
}

.paymentfactory-index-index .billing-addr-title {
color:#ED1C25;
border-bottom:1px solid #ddd;
margin:20px 0 15px;
}

.paymentfactory-index-index .cards-info h2 {
text-align:center;
}

.customer-account-edit #account-info {
margin-top:20px;
width:350px;
display:inline-block;
vertical-align:top;
padding:10px;
}

.customer-account-edit #facebook-info {
display:inline-block;
width:283px;
margin-top:20px;
padding:10px;
}

.customer-account-edit #facebook-name {
font-size:13px;
font-weight:700;
margin-top:5px;
}

.customer-account-edit .my-account .fieldset h2.legend,.customer-account-edit .my-account h2.legend {
color:#707070;
font-size:12px;
font-weight:bolder;
margin:10px 0 0;
}

.customer-account-edit .my-account hr {
height:0;
border:solid #DDD;
border-width:1px 0 0;
margin:10px 0;
}

.customer-account-edit .form-list input.input-text {
border-radius:5px 5px 5px 5px;
font-size:13px;
width:163px;
padding:6px;
}

.customer-account-edit .my-account .form-list label {
text-align:left;
width:150px;
padding-left:7px;
}

.customer-account-edit p.required {
width:350px;
}

div.nav-container,#checkoutcart-block-title,.hpcheckout-checkout-index #usercart-block-title,.hpcheckout-checkout-index #usercart li a.top-link-checkout,.top-events,.catalog-category-preview div.options-container-big,.catalog-product-view div.breadcrumbs,dl.collateral-tabs table.data-table tr th,div.options-container-big ul.add-to-links,div.options-container-big .product-options-bottom div.price-box,div.options-container-big .product-options-bottom p.required,.product-view div.box-tags,table.cart-table thead,body.product-totsy-gift-card div.event-title-container,body.product-totsy-gift-card .product-view .product-shop p.availability,body.product-totsy-gift-card a.gift-card-btn,.customer-revalidate-index .header-container .header #invite,.customer-account-validationcheck .header-container .header div.nav {
display:none;
}

.top-cart .mini-products-list li.item,dl.collateral-tabs table.data-table {
border:0;
}

.top-cart div.actions,.hpcheckout-checkout-index .top-cart .block-title strong,div.cart {
background:none;
}

#topCartContent .timer-control-box span,table.cart-table td div.item-options div {
color:#707070;
font-size:12px;
}

#topCartContent div.shipping-date,#topCartContent div.count-down-timer,div.page-title .timer-control-box,div.page-title .shipping-date {
display:inline-block;
padding-left:9px;
}

#topCartContent .mini-products-list .product-details,#topCartContent div.truncated,#topCartContent div.product-details a,div.top-cart #topCartContent .product-details table,#usercart table.product-top tr,div.top-check-out li,div.cart .totals .checkout-types li {
display:inline-block;
}

#usercart .links li,.catalog-product-view .product-view .product-shop .add-to-cart {
padding:0;
}

.hpcheckout-checkout-index #usercart,div.event-title-container p.count-down-timer,.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box {
float:right;
}

div.form-buttons button,div.tab-content p,.paymentfactory-index-index	img.cart-type {
margin:10px 0;
}

.catalog-index-index .col-main,.categoryevent-index-index .col-main,.customer-account-edit #facebook-photo {
padding:5px;
}

.catalog-category-view div.col-main,.catalog-category-preview div.col-main,.catalog-product-view .page div.col-main {
padding:20px 10px;
}

.catalog-category-view div.category-view,.catalog-category-preview div.category-view,.box-collateral ul.box-content li.item div.item-info {
margin:0;
}

div.event-title-container h1 a,div.event-title-container p.count-down-timer,dl.collateral-tabs div#shipping a {
color:#ED1C25;
}

.catalog-category-view .category-products ul.products-grid,.catalog-category-preview .category-products ul.products-grid {
margin:0;
padding:0;
}

.catalog-category-view .category-products ul.products-grid li.item,.catalog-category-preview .category-products ul.products-grid li.item {
width:300px;
border:1px solid #d7d7d7;
margin:10px 5px;
}

.catalog-category-view .category-products ul.products-grid li.item a.product-image,.catalog-category-preview .category-products ul.products-grid li.item a.product-image {
width:300px;
margin-bottom:0;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info,.catalog-category-preview .category-products ul.products-grid li.item div.product-info {
height:45px;
background:#F0EFEF;
padding:10px 5px;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info h2,.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box,.catalog-category-preview .category-products ul.products-grid li.item div.product-info h2,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box {
display:inline-block;
vertical-align:top;
max-width:210px;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info h2.product-name a,.catalog-category-preview .category-products ul.products-grid li.item div.product-info h2.product-name a {
color:#707070;
max-width:270px;
font-size:1em;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.old-price,.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.special-price,.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box .regular-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.old-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.special-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box .regular-price {
position:relative;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.old-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.old-price {
top:20px;
font-size:10px;
text-decoration:none;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.old-price span.price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.old-price span.price,.product-view .product-shop div.price-box p.old-price,.product-view .product-shop div.price-box p.old-price .price,a.gift-card-btn:hover {
text-decoration:none;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.special-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.special-price {
top:-20px;
color:#090;
font-size:20px;
font-weight:400;
text-transform:uppercase;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box p.special-price span.price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box p.special-price span.price {
font-weight:400;
color:#090;
float:right;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box .regular-price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box .regular-price {
top:-7px;
}

.catalog-category-view .category-products ul.products-grid li.item div.product-info .price-box .regular-price span.price,.catalog-category-preview .category-products ul.products-grid li.item div.product-info .price-box .regular-price span.price {
font-size:20px;
font-weight:400;
text-transform:uppercase;
color:#090;
}

.catalog-category-view .social-part #st_sharethis_custom,.catalog-category-preview .social-part #st_sharethis_custom {
margin-top:10px;
}

.catalog-category-view #out-of-stock,.catalog-category-preview #out-of-stock {
position:absolute;
z-index:10;
}

.updown-top,.updown-bottom {
cursor:pointer!important;
height:11px!important;
width:16px!important;
}

div.cart .checkout-types .btn-proceed-checkout span span,div.cart .checkout-types .btn-continue span span,div.cart .deals button span span,div.cart .cart-table .btn-update span span {
font-size:12px;
text-transform:uppercase;
}

body.product-totsy-gift-card .giftcard-send-form div.form-list-selector div.to-myself,body.product-totsy-gift-card .giftcard-send-form div.form-msg-selector div.alow-msg {
float:left;
}