.ie_seven div.top-check-out li, .ie_seven div.totals .checkout-types li{
	display:inline;
}

.ie_seven button.btn-continue{
	height:33px;
}

.ie_seven button.btn-update{
	height:22px;
}

.ie_seven .cart .checkout-types .btn-proceed-checkout{
	height:34px;
	margin-left:5px;
}

.ie_seven div.page-title .shipping-date, .ie_seven div.page-title .timer-control-box{
	display:inline;
}